<!DOCTYPE html >
<html lang="zh-CN">
<head>
    #showTitle ("主页")
    <meta charset="utf-8">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" CONTENT="no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <metahttp-equiv="X-UA-Compatible" content="IE=8"><!--以IE8模式渲染-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" href="$homeContent.getURI('images/favicon.ico')" type="image/x-icon">

</head>
<body ng-controller="BodyController">
    $screen_placeholder
</body>
<script>
    angular.element(document).ready(function() {
        angular.bootstrap(document, ['home']);
    });
</script>
</html>