package ${basePackage}.${moduleName}.request;

import ${basePackage}.${moduleName}.base.Request;
#if ($table.has('Date'))
import java.util.Date;
#end

/**
 * ${table.tableName}CreateRequest - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}CreateRequest extends Request{

#foreach($field in $table.fields)
#if(!$field.isSystem || $field.fieldName == 'ID')
    /** $!{field.fieldComment} */
    private $field.fieldType.toString() ${field.getFName()};

#end
#end
#foreach($field in $table.fields)
#if(!$field.isSystem || $field.fieldName == 'ID')
    public $field.fieldType.toString() ${field.getterName()}(){
        return this.${field.getFName()};
    }

    public void ${field.setterName()}($field.fieldType.toString() ${field.getFName()}){
        this.${field.getFName()} = ${field.getFName()};
    }

#end
#end
}
