package ${basePackage}.${moduleName}.request;

import ${basePackage}.framework.UpdateRequest;

/**
 * ${table.getCName()}DeleteRequest - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}DeleteRequest extends UpdateRequest{

    /** 主键 */
    private long id;

    public long getId(){
        return this.id;
    }

    public void setId(long id){
        this.id = id;
    }

}
