package ${basePackage}.${moduleName}.request;

import ${basePackage}.framework.FindRequest;
#if ($table.has('Date'))
import java.util.Date;
#end

/**
 * ${table.getCName()}Request -  ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class  ${table.getCName()}FindRequest extends FindRequest{

#foreach($field in $table.fields)
#if($field.isQuery)
    /** $!{field.fieldComment} */
    private $field.fieldType.javaType() ${field.getFName()};

#end
#end
#foreach($field in $table.fields)
#if($field.isQuery)
    public $field.fieldType.javaType() ${field.getterName()}(){
        return this.${field.getFName()};
    }

    public void ${field.setterName()}($field.fieldType.javaType() ${field.getFName()}){
        this.${field.getFName()} = ${field.getFName()};
    }

#end
#end
}
