package ${basePackage}.${moduleName}.request;

import ${basePackage}.${moduleName}.base.Request;

/**
 * ${table.getCName()}GetRequest - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class  ${table.getCName()}GetRequest extends Request{

    /** 主键 */
    private long id;

    public long getId(){
        return this.id;
    }

    public void setId(long id){
        this.id = id;
    }
}
