package ${basePackage}.${moduleName}.request;

import ${basePackage}.framework.BaseRequest;

/**
 * ${table.getCName()}GetRequest - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class  ${table.getCName()}GetRequest extends BaseRequest{

    /** 主键 */
    private long id;

    public long getId(){
        return this.id;
    }

    public void setId(long id){
        this.id = id;
    }
}
