package ${basePackage}.${moduleName}.request;

import ${basePackage}.framework.BaseUpdateRequest;
#if ($table.has('Date'))
import java.util.Date;
#end

/**
 * ${table.getCName()}UpdateRequest - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class  ${table.getCName()}UpdateRequest extends BaseUpdateRequest{

#foreach($field in $table.fields)
#if(!$field.isSystem || $field.fieldName == 'ID')
    /** $!{field.fieldComment} */
    private $field.fieldType.javaType() ${field.getFName()};

#end
#end
#foreach($field in $table.fields)
#if(!$field.isSystem || $field.fieldName == 'ID')
    public $field.fieldType.javaType() ${field.getterName()}(){
        return this.${field.getFName()};
    }

    public void ${field.setterName()}($field.fieldType.javaType() ${field.getFName()}){
        this.${field.getFName()} = ${field.getFName()};
    }

#end
#end
}
