package ${domain};

import com.alibaba.fastjson.JSON;
import com.alibaba.fastjson.JSONObject;
import edu.services.auth.request.FunctionCreateRequest;
import edu.services.auth.response.FunctionCreateResponse;
import okhttp3.*;
import java.io.*;
import java.text.SimpleDateFormat;
import java.util.ArrayList;
import java.util.Collections;
import java.util.Date;
import java.util.List;
import java.util.concurrent.TimeUnit;

public class ApiClient {
    private static ApiClient ourInstance = null;

    public static void init(String serverUrl, String appKey, String appSecret) {
        init(serverUrl, appKey, appSecret, DEFAULT_CONNECT_TIMEOUT, DEFAULT_READ_TIMEOUT);
    }

    public static void init(String serverUrl, String appKey, String appSecret,int connectTimeout,int readTimeout) {
        ourInstance = new ApiClient(serverUrl, appKey, appSecret,connectTimeout,readTimeout);
    }

    public static ApiClient getInstance() {
        if (ourInstance == null) {
            System.err.print("ApiClient need init");
        }
        return ourInstance;
    }

    //基本请求参数KEY
    private static final String P_MODE = "mode";
    private static final String P_MODE_METHOD = "mode_method";
    private static final String P_APP_KEY = "app_key";
    private static final String P_TYPE = "type";
    private static final String P_TARGET = "target";
    private static final String P_TIMESTAMP = "timestamp";
    private static final String P_METHOD = "method";
    private static final String P_SIGN = "sign";
    private static final String P_TOKEN_ID = "token_id";
    //安全模式，签名或加密
    private static final String MODE_SIGN = "sign";
    private static final String MODE_ENCRYPTION = "encryption";
    //参数类型
    private static final String TYPE_JSON = "json";
    private static final String TYPE_FILE = "file";
    //基本请求参数value
    private String appKey;
    private String appSecret;
    private String serverUrl;
    private OkHttpClient httpClient = null;
    private static final String SIGN_METHOD_MD5 = "MD5";
    private static final String SIGN_METHOD_RSA = "RSA";
    //默认参数
    private static final int DEFAULT_CONNECT_TIMEOUT = 3;//秒
    private static final int DEFAULT_READ_TIMEOUT = 15;//秒
    //请求配置
    private String mode = MODE_SIGN;//默认签名安全模式
    private String modeMethod = SIGN_METHOD_MD5;//默认签名方式
    private int connectTimeout;//3秒
    private int readTimeout;//15秒
    private boolean needCheckRequest = true; // 是否在客户端校验请求
    private boolean needEnableParser = true; // 是否对响应结果进行解释

    private Before before = null;
    private After after = null;
    private String tokenId = "";

    private ApiClient(String serverUrl, String appKey, String appSecret, int connectTimeout, int readTimeout) {
        this.connectTimeout = connectTimeout;
        this.readTimeout = readTimeout;
        this.appKey = appKey;
        this.appSecret = appSecret;
        this.serverUrl = serverUrl;
        this.httpClient = new OkHttpClient.Builder()
                .readTimeout(readTimeout, TimeUnit.SECONDS)
                .connectTimeout(connectTimeout, TimeUnit.SECONDS)
                .build();
    }

    interface Callback<T extends ApiResponse> {
        void call(T response);
    }

    interface Before {
        void call(ApiRequest request);
    }

    interface After {
        void call(ApiRequest request, ApiResponse response);
    }

    public void setAfter(After after) {
        this.after = after;
    }

    public void setBefore(Before before) {
        this.before = before;
    }

    public <T extends ApiResponse> T execute(ApiRequest<T> request) {
        if (before != null) {
            before.call(request);
        }

        T baseResponse = JSONObject.toJavaObject(new JSONObject(), request.responseClass());
        try {
            //装载请求参数
            String currentTime = String.valueOf(System.currentTimeMillis());
            RequestBody requestBody = new FormBody.Builder()
                    .add(P_APP_KEY, appKey)
                    .add(P_MODE, mode)
                    .add(P_MODE_METHOD, modeMethod)
                    .add(P_METHOD, request.apiMethod())
                    .add(P_TYPE, TYPE_JSON)
                    .add(P_TARGET, JSON.toJSONString(request))
                    .add(P_TIMESTAMP, currentTime)
                    .add(P_SIGN, sign(request, currentTime))
                    .add(P_TOKEN_ID, tokenId)
                    .build();

            Request build = new Request.Builder()
                    .url(serverUrl)
                    .post(requestBody)
                    .build();

            Response execute = httpClient.newCall(build).execute();

            JSONObject jsonObject = JSON.parseObject(execute.body().string());
            baseResponse = JSONObject.toJavaObject(jsonObject, request.responseClass());
        }catch (Exception e) {
            baseResponse.addError(ErrorType.SYSTEM_ERROR, "请求异常!");
        } finally {
            if (after != null) {
                after.call(request, baseResponse);
            }
            return baseResponse;
        }
    }

    public <T extends ApiResponse> void execute(final ApiRequest<T> request, final Callback callback) {
        if (before != null) {
            before.call(request);
        }

        try {
            //装载请求参数
            String currentTime = String.valueOf(System.currentTimeMillis());
            RequestBody requestBody = new FormBody.Builder()
                    .add(P_APP_KEY, appKey)
                    .add(P_MODE, mode)
                    .add(P_MODE_METHOD, modeMethod)
                    .add(P_METHOD, request.apiMethod())
                    .add(P_TYPE, TYPE_JSON)
                    .add(P_TARGET, JSON.toJSONString(request))
                    .add(P_TIMESTAMP, currentTime)
                    .add(P_SIGN, sign(request, currentTime))
                    .add(P_TOKEN_ID, tokenId)
                    .build();

            Request build = new Request.Builder()
                    .url(serverUrl)
                    .post(requestBody)
                    .build();

            httpClient.newCall(build).enqueue(new okhttp3.Callback() {
                public void onFailure(Call call, IOException e) {

                }

                public void onResponse(Call call, Response response) throws IOException {

                    JSONObject jsonObject = JSON.parseObject(response.body().string());
                    T t = JSONObject.toJavaObject(jsonObject, request.responseClass());
                    if (after != null) {
                        after.call(request, t);
                    }
                    if (callback != null) {
                        callback.call(t);
                    }
                }
            });

        }catch (Exception e) {
            e.printStackTrace();
        }
    }


    public void fileUpload(final FileUploadRequest request, final Callback<FileUploadResponse> callback) {
        if (before != null) {
            before.call(request);
        }

        try {
            //装载请求参数
            String currentTime = String.valueOf(System.currentTimeMillis());
            MultipartBody multipartBody = new MultipartBody.Builder()
                    .addFormDataPart(P_APP_KEY, appKey)
                    .addFormDataPart(P_APP_KEY, appKey)
                    .addFormDataPart(P_MODE, mode)
                    .addFormDataPart(P_MODE_METHOD, modeMethod)
                    .addFormDataPart(P_METHOD, request.apiMethod())
                    .addFormDataPart(P_TYPE, TYPE_FILE)
                    .addFormDataPart(P_TIMESTAMP, currentTime)
                    .addFormDataPart(P_SIGN, sign(request, currentTime))
                    .addFormDataPart(P_TOKEN_ID, tokenId)
                    .addFormDataPart(P_TARGET, request.getFile().getName(), RequestBody.create(MediaType.parse("image/*"), request.getFile()))
                    .build();


            Request build = new Request.Builder()
                    .url(serverUrl)
                    .post(multipartBody)
                    .build();

            httpClient.newCall(build).enqueue(new okhttp3.Callback() {
                public void onFailure(Call call, IOException e) {

                }

                public void onResponse(Call call, Response response) throws IOException {

                    JSONObject jsonObject = JSON.parseObject(response.body().string());
                    FileUploadResponse t = JSONObject.toJavaObject(jsonObject, FileUploadResponse.class);

                    if (after != null) {
                        after.call(request, t);
                    }
                    if (callback != null) {
                        callback.call(t);
                    }
                }
            });

        }catch (Exception e) {
            e.printStackTrace();
        }
    }

    /**
     * 对请求进行签名
     *
     * @param request
     * @return
     */
    private String sign(ApiRequest request, String currentTime) {
        if (request instanceof FileUploadRequest) {//文件签名
            FileUploadRequest fileUploadRequest = (FileUploadRequest) request;
            String encode = MD5Util.encode(toByteArray(fileUploadRequest.getFile()));
            return MD5Util.encode(appSecret + encode + currentTime);
        } else {//普通参数签名
            JSONObject jsonObject = (JSONObject) JSONObject.toJSON(request);

            List<String> data = new ArrayList(jsonObject.keySet());
            Collections.sort(data);
            StringBuffer sb = new StringBuffer();
            for (String s : data) {
                sb.append(s).append(jsonObject.get(s) != null ? jsonObject.get(s) : "");
            }
            return MD5Util.encode(appSecret + sb.toString() + currentTime);
        }
    }

    private static byte[] toByteArray(File file) {
        File f = file;
        if (!f.exists()) {
            return null;
        }
        ByteArrayOutputStream bos = new ByteArrayOutputStream((int) f.length());
        BufferedInputStream in = null;
        try {
            in = new BufferedInputStream(new FileInputStream(f));
            int buf_size = 1024;
            byte[] buffer = new byte[buf_size];
            int len = 0;
            while (-1 != (len = in.read(buffer, 0, buf_size))) {
                bos.write(buffer, 0, len);
            }
            return bos.toByteArray();
        } catch (IOException e) {
            return null;
        } finally {
            try {
                in.close();
            } catch (IOException e) {
                e.printStackTrace();
            }
        }
    }

    public void setTokenId(String tokenId) {
        this.tokenId = tokenId;
    }

    public static void main(String[] args) {
        //实例化API请求客户端
        ApiClient.init("http://localhost:8080/api", "qwe", "asd");
        ApiClient client = ApiClient.getInstance();

        final SimpleDateFormat simpleDateFormat = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss:SSS");
        //设置发送网络请求前的统一操作
        client.setBefore(new ApiClient.Before() {
            public void call(ApiRequest request) {
                System.out.println("请求参数" + JSON.toJSONString(request));
                System.out.println("请求方法" + request.apiMethod());
            }
        });
        //设置网络请求完成后的统一操作
        client.setAfter(new ApiClient.After() {
            public void call(ApiRequest request, ApiResponse response) {
                System.out.println("响应参数" + JSON.toJSONString(response));
                Date end = new Date();
                System.out.println(simpleDateFormat.format(end));
            }
        });

        //json请求
        FunctionCreateRequest functionCreateRequest = new FunctionCreateRequest();
        functionCreateRequest.setCode("CODE");
        functionCreateRequest.setName("名字");
        functionCreateRequest.setAlias("中文");
        functionCreateRequest.setType("TYPE");

        client.execute(functionCreateRequest, new Callback<FunctionCreateResponse>() {
            public void call(FunctionCreateResponse response) {

            }
        });

        //文件上传请求
        FileUploadRequest fileUploadRequest = new FileUploadRequest();
        fileUploadRequest.setFile(new File("D:\\11.JPG"));
        client.fileUpload(fileUploadRequest, new Callback<FileUploadResponse>() {
            public void call(FileUploadResponse response) {

            }
        });
    }
}
