package ${domain};

/**
 * ApiFindRequest - »ùÀà
 *
 * @author wangbing
 * @version 0.0.1
 * @since 2017-01-01
 */
public abstract class ApiFindRequest<T> implements ApiRequest {

    private long pageNumber = 1L;
    private long pageSize = 10L;
    private String sortKey;
    private SortType sortType;

    public String getSortKey() {
        return sortKey;
    }

    public void setSortKey(String sortKey) {
        this.sortKey = sortKey;
    }

    public SortType getSortType() {
        return sortType;
    }

    public void setSortType(SortType sortType) {
        this.sortType = sortType;
    }
    public long getPageNumber() {
        return pageNumber;
    }

    public void setPageNumber(long pageNumber) {
        this.pageNumber = pageNumber;
    }

    public long getPageSize() {
        return pageSize;
    }

    public void setPageSize(long pageSize) {
        this.pageSize = pageSize;
    }
}