package ${domain};

import java.util.List;

/**
 * FindResponse - 基类
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class ApiFindResponse<T> extends ApiResponse<T>{

    private List<T> result;

    private Long totalCount;

    public List<T> getResult() {
        return result;
    }

    public void setResult(List<T> result) {
        this.result = result;
    }

    public Long getTotalCount() {
        return totalCount;
    }

    public void setTotalCount(Long totalCount) {
        this.totalCount = totalCount;
    }
}
