package ${domain};

/**
 * ApiRequest - »ùÀà
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public interface ApiRequest<T extends ApiResponse> {

    void check();

    String apiMethod();

    Class<T> responseClass();
}