package ${domain};

/**
 * FileUploadResponse - 文件上传响应
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class FileUploadResponse extends ApiResponse {

    /**
     * 文件ID
     */
    private Long id;

    public Long getId() {
        return id;
    }

    public void setId(Long id) {
        this.id = id;
    }
}
