package ${basePackage}.${moduleName}.rsp;

import java.util.List;
import ${basePackage}.framework.BaseResponse;

/**
 * ${table.getCName()}UpdateResponse - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class ${table.getCName()}UpdateResponse extends BaseResponse {

    /** 更新数目 */
    private Long result;

    public Long getResult() {
        return this.result;
    }

    public void setResult(Long result) {
        this.result = result;
    }
}
