<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="=%={Url.setUrl('/static/js/jquery-3.2.1.js')}" type="text/javascript"></script>
    <script src="=%={Url.setUrl('/static/js/services.js')}" type="text/javascript"></script>
    <link href="=%={Url.setUrl('/static/css/base.css')}" rel="stylesheet"></link>
    <link rel="Shortcut Icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <script src="=%={Url.setUrl("/static/lib/element/vue.min.js")}"></script>
    <script src="=%={Url.setUrl("/static/lib/element/index.js")}"></script>
    <link href="=%={Url.setUrl("/static/lib/element/index.css")}" rel="stylesheet">
</head>
<body>
<=#=include Layout.setControl("header")/>
<=#=include Layout.setScreen()/>
<=#=include Layout.setControl("footer")/>
</body>
</html>
