package ${basePackage}.framework;

/**
 * BasePO - 基类
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class BasePO {

    /**
     * 行版本
     */
    private long rowVersion;

    /**
     * 创建用户
     */
    private long createBy;

    /**
     * 创建时间
     */
    private long createTime;

    /**
     * 最后更新用户
     */
    private long lastUpdateBy;

    /**
     * 最后更新时间
     */
    private long lastUpdateTime;

    public long getRowVersion() {
        return rowVersion;
    }

    public void setRowVersion(long rowVersion) {
        this.rowVersion = rowVersion;
    }

    public long getCreateBy() {
        return createBy;
    }

    public void setCreateBy(long createBy) {
        this.createBy = createBy;
    }

    public long getCreateTime() {
        return createTime;
    }

    public void setCreateTime(long createTime) {
        this.createTime = createTime;
    }

    public long getLastUpdateBy() {
        return lastUpdateBy;
    }

    public void setLastUpdateBy(long lastUpdateBy) {
        this.lastUpdateBy = lastUpdateBy;
    }

    public long getLastUpdateTime() {
        return lastUpdateTime;
    }

    public void setLastUpdateTime(long lastUpdateTime) {
        this.lastUpdateTime = lastUpdateTime;
    }
}
