package ${basePackage}.framework;

/**
 * UpdateRequest - 基类
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class UpdateRequest extends Request{

    /**
    * 版本戳
    */
    private long rowVersion;

    public long getRowVersion() {
        return rowVersion;
    }

    public void setRowVersion(long rowVersion) {
        this.rowVersion = rowVersion;
    }
}