package ${basePackage}.${moduleName}.mgr;

import ${basePackage}.${moduleName}.req.*;
import ${basePackage}.${moduleName}.rsp.*;
import ${basePackage}.framework.UserToken;

/**
 * ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public interface ${table.getCName()}Manager {

    /**
    * 插入
    *
    * @param request 实体对象
    * @return 返回数量
    */
    ${table.getCName()}CreateResponse create(${table.getCName()}CreateRequest request, UserToken token);

    /**
    * 逻辑删除
    *
    * @param request 删除对象
    * @return 返回数量
    */
    ${table.getCName()}DeleteResponse delete(${table.getCName()}DeleteRequest request, UserToken token);

    /**
    * 更新
    *
    * @param request 更新对象
    * @return
    */
    ${table.getCName()}UpdateResponse update(${table.getCName()}UpdateRequest request, UserToken token);

    /**
    * 查询
    *
    * @param request 查询对象
    * @return
    */
    ${table.getCName()}FindResponse find(${table.getCName()}FindRequest request, UserToken token);

    /**
    * 模糊查询
    *
    * @param request 查询对象
    * @return
    */
    ${table.getCName()}SearchResponse search(${table.getCName()}SearchRequest request, UserToken token);

    /**
    * 查询所有
    *
    * @return
    */
    ${table.getCName()}GetAllResponse getAll(${table.getCName()}GetAllRequest request, UserToken token);

    /**
    * 获得对象
    *
    * @return
    */
    ${table.getCName()}GetResponse get(${table.getCName()}GetRequest request, UserToken token);
}
