package ${basePackage}.${moduleName}.response;

import ${basePackage}.${moduleName}.base.Response;
import java.util.List;

/**
 * ${table.getCName()}DeleteResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}DeleteResponse extends Response {

    /** 删除数目 */
    private Long result;

    public Long getResult() {
        return this.result;
    }

    public void setResult(Long result) {
        this.result = result;
    }
}
