package ${basePackage}.${moduleName}.response;

import java.util.List;
import ${basePackage}.${moduleName}.base.FindResponse;
import ${basePackage}.${moduleName}.po.${tool.lineToClassName(${table.tableName})}PO;

/**
 * ${tool.lineToClassName(${table.tableName})}FindResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${tool.lineToClassName(${table.tableName})}FindResponse extends FindResponse<${tool.lineToClassName(${table.tableName})}PO>{
}