package ${basePackage}.${moduleName}.response;

import ${basePackage}.${moduleName}.base.FindResponse;
import java.util.List;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;

/**
 * ${table.getCName()}FindResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}FindAllResponse extends FindResponse<${table.getCName()}PO>{
}