package ${basePackage}.${moduleName}.response;

import java.util.List;
import ${basePackage}.framework.BaseGetAllListResponse;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;

/**
 * ${table.getCName()}GetAllListResponse - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class ${table.getCName()}GetAllListResponse extends BaseGetAllListResponse<${table.getCName()}PO>{
}