package ${basePackage}.${moduleName}.response;

import ${basePackage}.${moduleName}.po.${table.getCName()}PO;
import ${basePackage}.framework.Response;

/**
 * ${table.getCName()}GetResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}GetResponse extends Response {

    /** $!{field.fieldComment} */
    private ${table.getCName()}PO ${table.getFName()};

    public ${table.getCName()}PO get${table.getCName()}PO(){
        return this.${table.getFName()};
    }

    public void set${table.getCName()}(${table.getCName()}PO ${table.getFName()}){
        this.${table.getFName()} = ${table.getFName()};
    }
}
