<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <aop:aspectj-autoproxy/>
    <import resource="spring-mybatis.xml"></import>
    <context:component-scan base-package="${basePackage}.${moduleName}.mgr">
        <context:include-filter type="regex" expression=".*Impl"/>
    </context:component-scan>

#if(${isTest})
    <bean id="token" class="${basePackage}.framework.Token">
        <property name="id" value="0"></property>
        <property name="userId" value="0"></property>
        <property name="userName" value="测试"></property>
    </bean>
#end
</beans>