package ${basePackage}.${moduleName}.response;

import java.util.List;

/**
 * ${table.getCName()}CreateResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}CreateResponse extends Response {

    /** ID */
    private Long id;

    public Long getId() {
        return id;
    }

    public void setId(Long id) {
        this.id = id;
    }
}
