package ${basePackage}.${moduleName}.response;

import java.util.List;

/**
 * ${table.getCName()}FindResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${table.getCName()}FindResponse extends FindResponse<${table.getCName()}PO>{
}