package ${basePackage}.${moduleName}.response;

import java.util.List;

/**
 * Response - 基类
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class Response<T> {

    private List<T> result;

    private Long totalCount;

    public List<T> getResult() {
        return result;
    }

    public void setResult(List<T> result) {
        this.result = result;
    }

    public Long getTotalCount() {
        return totalCount;
    }

    public void setTotalCount(Long totalCount) {
        this.totalCount = totalCount;
    }
}
