package ${basePackage}.${moduleName}.response;

import java.util.List;

/**
 * ${tool.lineToClassName(${table.tableName})}UpdateResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${tool.lineToClassName(${table.tableName})}UpdateResponse extends Response {

    /** 更新数目 */
    private Long result;

    public Long getResult() {
        return this.result;
    }

    public void setResult(Long result) {
        this.result = result;
    }
}
