package ${basePackage}.${moduleName}.dao;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import java.util.List;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;

/**
* ${table.tableName} - ${table.tableComment}
*
* @author
* @date ${yyyy-MM-dd}
*/
@Repository
public interface ${table.getCName()}Dao{

    /**
    * 插入
    *
    * @param po 实体对象
    * @return 返回数量
    */
    long insert(@Param("po") ${table.getCName()}PO po);

    /**
     * 查询
     *
     * @param po 查询对象
     * @return 返回对象
     */
    List<${table.getCName()}PO> query(@Param("po") ${table.getCName()}PO po,@Param("beginIndex") int beginIndex,@Param("endIndex") int endIndex,@Param("pageSize") int pageSize);

    /**
     * 查询数量
     *
     * @param po 查询参数
     * @return 返回数量
     */
    long queryCount(@Param("po") ${table.getCName()}PO po);

    /**
    * 查询所有
    *
    * @return 返回对象
    */
    List<${table.getCName()}PO> queryAll();
}
