package ${basePackage}.${moduleName}.dao;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import cn.com.cybertech.ctframe.dao.SuperDao;
import java.util.List;
import ${basePackage}.${moduleName}.dao.${table.getCName()}Dao;
import ${basePackage}.${moduleName}.po.${table.getCName()};

/**
* ${table.tableName} - ${table.tableComment}
*
* @author $!{author}
* @date ${yyyy-MM-dd}
*/
@Repository
public class ${table.getCName()}DaoImpl extends SuperDao implements ${table.getCName()}Dao {

    /**
     * 新增插入
     *
     * @param po 实体对象
     * @return 返回数量
     */
    public long insert(${table.getCName()} po){
        return this.insert("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.insert", po);
    }

    /**
     * 根据主键删除对象(必须存在主键)
     *
     * @param po 条件
     * @return 数量
     */
    public long deleteById(${table.getCName()} po){
        return this.delete("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.deleteById", po);
    }

    /**
     * 根据主键更新对象(必须存在主键)
     *
     * @param po 条件
     * @return 数量
     */
    public long updateById(${table.getCName()} po){
        return this.selectOne("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.updateById", po);
    };

    /**
     * 根据主键查询(防止多个主键,传参)
     *
     * @param po 条件
     * @return 返回唯一对象
     */
    public ${table.getCName()} getById(${table.getCName()} po){
        return this.selectOne("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.getById", po);
    }

    /**
     * 不分页查询
     *
     * @param po 查询参数
     * @return 返回集合
     */
    public List<${table.getCName()}> queryAll(${table.getCName()} po){
        return this.selectList("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.queryAll", po);
    }

    /**
     * 通用分页查询(模糊和精确条件组合查询，用于后期定制查询)
     *
     * @param po 查询对象
     * @return 返回集合
     */
    public List<${table.getCName()}> query(${table.getCName()} po,@Param("beginIndex") int beginIndex,@Param("pageSize") int pageSize){
        return this.selectList("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.query", po, beginIndex, pageSize);
    }

    /**
     * 通用分页查询数量
     *
     * @param po 查询参数
     * @return 返回数量
     */
    public long queryCount(${table.getCName()} po){
        return this.selectCount("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.query", po);
    }

    /**
     * 精确分页查询
     *
     * @param po 查询对象
     * @return 返回集合
     */
    public List<${table.getCName()}> find(${table.getCName()} po,@Param("beginIndex") int beginIndex,@Param("pageSize") int pageSize){
        return this.selectList("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.find", po, beginIndex, pageSize);
    }

    /**
     * 通用分页查询数量
     *
     * @param po 查询参数
     * @return 返回数量
     */
    public long findCount(${table.getCName()} po){
        return this.selectCount("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.find", po);
    }

    /**
     * 模糊分页查询
     *
     * @param po 查询对象
     * @return 返回集合
     */
    public List<${table.getCName()}> search(${table.getCName()} po,@Param("beginIndex") int beginIndex,@Param("pageSize") int pageSize){
        return this.selectList("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.search", po, beginIndex, pageSize);
    }

    /**
     * 模糊分页查询数量
     *
     * @param po 查询参数
     * @return 返回数量
     */
    public long searchCount(${table.getCName()} po){
        return this.selectCount("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.search", po);
    }

    /**
     * 判断主键是否存在
     *
     * @param po 查询参数
     * @return 返回数量
     */
    public long existById(${table.getCName()} po){
        return this.selectCount("${basePackage}.${moduleName}.dao.${table.getCName()}Dao.existById", po);
    }
}
