package ${basePackage}.${moduleName}.dao;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import java.util.List;
import ${basePackage}.${moduleName}.po.${tool.lineToClassName(${table.tableName})}PO;
import ${basePackage}.${moduleName}.base.Passport;

/**
* ${table.tableName} - ${table.tableComment}
*
* @author
* @date ${yyyy-MM-dd}
*/
@Repository
public interface ${tool.lineToClassName(${table.tableName})}Mapper{

    /**
    * 插入
    *
    * @param po 实体对象
    * @return 返回数量
    */
    long insert(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("passport") Passport passport);

    /**
    * 逻辑删除
    *
    * @param po 删除对象
    * @return 返回数量
    */
    long delete(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("passport") Passport passport);

    /**
    * 更新
    *
    * @param po 更新对象
    * @return 返回数量
    */
    long update(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("passport") Passport passport);

    /**
     * 查询
     *
     * @param po 查询对象
     * @return 返回对象
     */
    List<${tool.lineToClassName(${table.tableName})}PO> find(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("beginIndex") int beginIndex,@Param("endIndex") int endIndex,@Param("pageSize") int pageSize,@Param("passport") Passport passport);

    /**
     * 查询数量
     *
     * @param po 查询参数
     * @return 返回数量
     */
    long findCount(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("passport") Passport passport);

    /**
    * 查询所有
    *
    * @return 返回对象
    */
    List<${tool.lineToClassName(${table.tableName})}PO> findAll(@Param("po") ${tool.lineToClassName(${table.tableName})}PO po,@Param("passport") Passport passport);
}
