package ${basePackage}.${moduleName}.request;

/**
 * ${tool.lineToClassName(${table.tableName})}GetRequest - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class  ${tool.lineToClassName(${table.tableName})}GetRequest extends Request{

    /** 主键 */
    private long id;

    public long getId(){
        return this.id;
    }

    public void setId(long id){
        this.id = id;
    }
}
