package ${basePackage}.auth.filter;

import ${basePackage}.auth.mgr.TokenManager;
import ${basePackage}.auth.ent.Token;
import ${basePackage}.auth.req.TokenGetRequest;
import ${basePackage}.auth.rsp.TokenGetResponse;
import ${basePackage}.framework.CookieUtil;
import ${basePackage}.framework.LocalData;
import ${basePackage}.framework.UserToken;
import org.springframework.context.ApplicationContext;
import org.springframework.web.context.support.WebApplicationContextUtils;
import com.alibaba.citrus.webx.servlet.WebxFrameworkFilter;
import org.springframework.util.StringUtils;
import javax.servlet.FilterChain;
import javax.servlet.ServletException;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import javax.servlet.http.HttpSession;
import java.io.IOException;

/**
 * 登录验证过滤器
 *
 * @author wangbing
 * @version 0.0.1
 * @Time 2017-01-01
 */

public class Authorizations extends WebxFrameworkFilter {

    @Override
    protected void initFrameworkFilter() {
        super.initFrameworkFilter();
    }

    @Override
    protected void doFilter(HttpServletRequest request, HttpServletResponse response, FilterChain chain) throws IOException, ServletException {
        /* 获取要访问的路径 */
        HttpSession session = request.getSession();
        String path = request.getRequestURI();

        //静态文件url不需要验证权限,放行
        String[] suffixes = {".css", ".js", "$", ".jpg", ".eot", "svg", "less", ".gif", ".png", ".ttf", ".woff", ".ico", ".xls"};
        for (String suffix : suffixes) {
            if (path.contains(suffix)) {
                super.doFilter(request, response, chain);
                return;
            }
        }

        UserToken token = (UserToken) session.getAttribute("token");
        if (token == null) {
            token = tryGetTokenByCookie(request, response);
        }
        LocalData.setToken(token);

        if ("/".equals(path) && token == null) {
            gotoLoginPage(request, response, null);
            return;
        } else if ("/".equals(path) && token != null) {
            gotoIndexPage(request, response);
            return;
        } else if (path.endsWith("ajax.do")) {
            String method = request.getParameter("method");
            if (method.equals("ajax.auth.login")) {
                super.doFilter(request, response, chain);
                return;
            }
        } else if (path.contains("login.htm")) {
            super.doFilter(request, response, chain);
            return;
        } else if (path.endsWith("api.do")) {
            super.doFilter(request, response, chain);
            return;
        } else if (!path.endsWith(".htm")) {
            gotoHtmPage(request, response);
            return;
        }

        if (token == null) {
            String returnUrl = request.getHeader("Referer");
            gotoLoginPage(request, response, returnUrl);
            return;
        }

        if (!token.hasFunction(path) && !"admin".equals(token.getUserName()) && !"sys".equals(token.getUserName())) {
            String returnUrl = request.getHeader("Referer");
            gotoUnAccessPage(request, response, returnUrl);
            return;
        }
        super.doFilter(request, response, chain);
    }


    private UserToken tryGetTokenByCookie(HttpServletRequest request, HttpServletResponse response) {

        TokenManager tokenManager = getWebxComponents().getParentApplicationContext().getBean(TokenManager.class);
        UserToken sysToken = getWebxComponents().getParentApplicationContext().getBean(UserToken.class);

        String tokenId = CookieUtil.getCookieValue(request.getCookies(), "tokenId");
        if (tokenId == null) {
            tokenId = request.getParameter("tokenId");
        }

        if (tokenId != null) {
            long l = 0L;
            try {
                l = Long.parseLong(tokenId);
            } catch (Exception e) {
                return null;
            }

            TokenGetRequest tokenGetRequest = new TokenGetRequest();
            tokenGetRequest.setId(l);
            TokenGetResponse tokenGetResponse = tokenManager.get(tokenGetRequest, sysToken);
            if (!tokenGetResponse.hasError()) {
                Token token = tokenGetResponse.getToken();

                String ip = getIp(request);
                String infoClinet = getInfoClinet(request);

                if (token.getIpAddress().equals(ip) && token.getClientInfo().equals(infoClinet)) {

                    UserToken userToken = new UserToken();
                    userToken.setId(token.getId());
                    userToken.setUserId(token.getUserId());
                    userToken.setUserName(token.getUserName());
                    return userToken;
                }

            }
        }
        return null;
    }

    private String getIp(HttpServletRequest request) {
        String ip = request.getHeader("x-forwarded-for");
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getHeader("Proxy-Client-IP");
        }
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getHeader("WL-Proxy-Client-IP");
        }
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getRemoteAddr();
        }
        return ip;
    }

    private String getInfoClinet(HttpServletRequest request) {
        return request.getHeader("User-Agent");
    }

    private void gotoLoginPage(HttpServletRequest httpServletRequest, HttpServletResponse httpServletResponse, String returnUrl) throws IOException, ServletException {
        String basePath = httpServletRequest.getScheme() + "://" + httpServletRequest.getServerName() + ":" + httpServletRequest.getServerPort() + httpServletRequest.getContextPath();
        httpServletResponse.sendRedirect(basePath + "/login.htm" + (returnUrl == null ? "" : "?returnUrl=" + returnUrl));
    }

    private void gotoIndexPage(HttpServletRequest httpServletRequest, HttpServletResponse httpServletResponse) throws IOException, ServletException {
        String basePath = httpServletRequest.getScheme() + "://" + httpServletRequest.getServerName() + ":" + httpServletRequest.getServerPort() + httpServletRequest.getContextPath();
        httpServletResponse.sendRedirect(basePath + "/login.htm");
    }

    private void gotoHtmPage(HttpServletRequest httpServletRequest, HttpServletResponse httpServletResponse) throws IOException, ServletException {
        String basePath = httpServletRequest.getScheme() + "://" + httpServletRequest.getServerName() + ":" + httpServletRequest.getServerPort() + httpServletRequest.getContextPath();
        String path = httpServletRequest.getRequestURI();
        String queryString = httpServletRequest.getQueryString();
        if (StringUtils.isEmpty(queryString)) {
            httpServletResponse.sendRedirect(basePath + path + ".htm");
        } else {
            httpServletResponse.sendRedirect(basePath + path + ".htm?" + queryString);
        }
    }

    private void gotoUnAccessPage(HttpServletRequest httpServletRequest, HttpServletResponse httpServletResponse, String returnUrl) throws IOException, ServletException {
        String basePath = httpServletRequest.getScheme() + "://" + httpServletRequest.getServerName() + ":" + httpServletRequest.getServerPort() + httpServletRequest.getContextPath();
        String s = basePath + "/unAccess.htm?returnUrl=" + (returnUrl == null ? "" : returnUrl);
        httpServletResponse.sendRedirect(s);
        return;
    }
}
