<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.${moduleName}.dao.${table.getCName()}Dao">


    #if($dataBase == 'ORACLE')
        <sql id="whereForQueryList">
            #foreach($f in $table.fields)
                #if($f.isQuery)
                    <if test="${f.getFName()} != null">
                        AND $f.fieldName = #{${f.getFName()}}
                    </if>
                #end
            #end
        </sql>

        <resultMap id="${table.getFName()}PO" type="${basePackage}.${moduleName}.po.${table.getCName()}PO">
            #foreach($f in $table.fields)
                <result column="${f.fieldName}" jdbcType="$!f.fieldType.jdbcType()" property="$f.getFName())"/>
            #end
        </resultMap>

        <sql id="entityColumnList">
            #set($i = 0)
            #foreach($f in $table.fields)#set($i = $i + 1)"${f.fieldName}"#if($i != $table.fields.size()),#end
            #end

        </sql>

        <select id="query" resultMap="${table.getFName()}PO">
            SELECT * FROM
            (
            SELECT T.*,ROWNUM FROM
            (
            SELECT
            <include refid="entityColumnList"/>
            FROM
            "$!{db.dbprefix}${table.tableName}"
            WHERE 1=1
            <include refid="whereForQueryList"/>
            ) T
            <if test="pageSize != 0">
                WHERE #{endIndex} >= ROWNUM
            </if>
            )
            <if test="po.pageSize != 0">
                WHERE ROWNUM >= #{beginIndex}
            </if>
        </select>


        <select id="queryAll" resultMap="${table.getFName()}PO">
            SELECT
            <include refid="entityColumnList"/>
            FROM
            "$!{db.dbprefix}${table.tableName}"
            WHERE 1=1
            <include refid="whereForQueryList"/>
        </select>

        <insert id="insert">
            INSERT INTO
            "$!{db.dbprefix}${table.tableName}"
            (
            <include refid="entityColumnList"/>
            )
            VALUES
            (
            #set($i = 0)
            #foreach($f in $table.fields)
                #set($i = $i + 1)
                #{po.$f.getFName()),jdbcType=$!f.fieldType.jdbcType()}#if($i != $table.fields.size()),
            #end#end

            )
        </insert>
    #end

</mapper>