package ${basePackage}.${moduleName}.request;

/**
 * ${table.tableName}CreateRequest - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class  ${table.getCName()}CreateRequest extends Request{

#foreach($field in $table.fields)
    /** $!{field.fieldComment} */
    private $field.fieldType.toString() ${field.getFName()};

#end
#foreach($field in $table.fields)
    public $field.fieldType.toString() ${field.getterName()}(){
        return this.${field.getFName()};
    }

    public void ${field.setterName()}($field.fieldType.toString() ${field.getFName()}){
        this.${field.getFName()} = ${field.getFName()};
    }

#end
}
