package ${basePackage}.${moduleName}.dao;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import java.util.List;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;
import ${basePackage}.${moduleName}.request.*;
import ${basePackage}.${moduleName}.response.*;
import ${basePackage}.framework.Token;

/**
* ${table.tableName} - ${table.tableComment}
*
* @author
* @date ${yyyy-MM-dd}
*/
@Repository
public interface ${table.getCName()}Mapper{

    /**
    * 插入
    *
    * @param request 实体对象
    * @return 返回数量
    */
    long insert(@Param("request") ${table.getCName()}CreateRequest request,@Param("token") Token token);

    /**
    * 逻辑删除
    *
    * @param request 删除对象
    * @return 返回数量
    */
    long delete(@Param("request") ${table.getCName()}DeleteRequest request,@Param("token") Token token);

    /**
    * 更新
    *
    * @param request 更新对象
    * @return 返回数量
    */
    long update(@Param("request") ${table.getCName()}UpdateRequest request,@Param("token") Token token);

    /**
     * 查询
     *
     * @param request 查询对象
     * @return 返回对象
     */
    List<${table.getCName()}PO> find(@Param("request") ${table.getCName()}FindRequest request,@Param("token") Token token);

    /**
     * 查询数量
     *
     * @param request 查询参数
     * @return 返回数量
     */
    long findCount(@Param("request") ${table.getCName()}FindRequest request,@Param("token") Token token);

    /**
    * 查询所有
    *
    * @return 返回对象
    */
    List<${table.getCName()}PO> findAll(@Param("request") ${table.getCName()}FindAllRequest request,@Param("token") Token token);

    /**
    * 获得对象
    *
    * @return 返回对象
    */
    ${table.getCName()}PO get(@Param("request") ${table.getCName()}GetRequest request,@Param("token") Token token);
}
