(function () {
    "use strict";
    var demoCtrl = function (=%=scope, AjaxService) {

        AjaxService.demo({}).then(function success(response) {
            var data = response.data;
            if (data.errors.length > 0) {
                toast.i(data.errors[0].message,1000);
            } else {
                toast.i("请求成功!"),1000);
            }
        })

        =%=scope.doAlert = function () {
            //弹出窗口
            var modalInstance = =%=uibModal.open({
                templateUrl: "doAlert.html",
                size: "md",
                controller: alertCtrl,
                resolve: {
                    data: {}
                }
            });
            modalInstance.result.then(function (result) {
                console.log("result=" + result);
            }, function (reason) {
                console.log("reason=" + reason);
            });
        }
    }


    var alertCtrl = ["=%=scope", "=%=uibModal", "=%=uibModalInstance", "AjaxService", "data", function (=%=scope, =%=uibModal, =%=uibModalInstance, AjaxService, data) {

        //在这里处理要进行的操作
        =%=scope.close = function () {
            =%=uibModalInstance.close("close");
        };
        =%=scope.cancel = function () {
            =%=uibModalInstance.dismiss('cancel');
        }
    }]

    angular.module("${moduleName}.module.demo", [])
        .controller("demoCtrl", ["=%=scope", "AjaxService", demoCtrl])
})();