package ${domain}.${module}.request;

#foreach($i in $importList)
$i
#end
import ${domain}.${module}.response.${className}Response;
#if($findOrSearchflag == '0')
import ${domain}.ApiRequest;
#elseif($findOrSearchflag=='1')
import ${domain}.ApiFindRequest;
#elseif($findOrSearchflag=='2')
import ${domain}.ApiSearchRequest;
#end

#foreach($i in $annotation)
$i
#end
public class ${className}Request implements #if($findOrSearchflag == '0')ApiRequest#elseif($findOrSearchflag=='1') ApiFindRequest#elseif($findOrSearchflag=='2')ApiSearchRequest#end<${className}Response> {
#foreach($i in $body)
$i
#end
    public void check() {

    }

    public String apiMethod() {
        return "api.${module}.${tool.camelToPoint(${className})}";
    }

    public Class<${className}Response> responseClass() {
        return ${className}Response.class;
    }

}
