package ${domain}.${module}.entity;

#foreach($i in $importList)
$i
#end
import ${domain}.ApiEntity;

#foreach($i in $annotation)
$i
#end
public class ${className} extends ApiEntity{
#foreach($i in $body)
$i
#end
}