$page.setTitle("首页")

1、header模块引入示例<br>
$control.setTemplate("home:header")<br>
<br>
2、自定义工具调用示例<br>
$DataFormat.format($date,"yyyy-MM-dd")<br>
<br>
3、footer模块引入示例<br>
$control.setTemplate("home:footer")<br>
<br>
4、连接生成示例<br>
$homeLink.setTarget("aaa")<br>
<br>
5、资源生成示例<br>
$homeContent.getURI("bbb")<br>
6、关闭layout<br>
$rundata.setLayoutEnabled(false)<br>
<br>

