 mvn install:install-file -Dfile=E:\taobao.sms.sdk-1.0.0.jar -DgroupId=com.taobao.sdk -DartifactId=taobao.sms.sdk -Dversion=1.0.0 -Dpackaging=jar
 
 
 SELECT
						personal_user_id user_id,
						count(1) faces_count,
						0 monuments_count
					FROM
						`t_face_library`
					WHERE
						attention_user_id = 1232
					UNION
						SELECT
							user_id,
							0 faces_count,
							count(1) monuments_count
						FROM
							`t_release_goods`
						WHERE
							user_id = 1232