
import org.junit.Test;
import org.junit.runner.RunWith;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.test.context.ContextConfiguration;
import org.springframework.test.context.junit4.SpringJUnit4ClassRunner;
import static org.junit.Assert.assertTrue;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;
import ${basePackage}.${moduleName}.rst.QueryResult;
import ${basePackage}.${moduleName}.svc.${table.getCName()}Service;
import ${basePackage}.${moduleName}.cond.${table.getCName()}QueryCondition;
import org.springframework.test.context.transaction.TransactionConfiguration;
import org.springframework.transaction.annotation.Transactional;

/**
* 创建时间：
*
* @author
* @Time ${yyyy-MM-dd}
*/
@RunWith(SpringJUnit4ClassRunner.class)
@ContextConfiguration(locations = { "classpath:spring.xml"})
@Transactional
@TransactionConfiguration(defaultRollback = true)
public class ${table.getCName()}Test {

    @Autowired
    private ${table.getCName()}Service ${table.getFName()}Service;

    @Test
    public void testQuery() {
        QueryResult<${table.getCName()}PO> query = ${table.getFName()}Service.query(new ${table.getCName()}QueryCondition());

        assertTrue(query!=null);
    }

    @Test
    public void testInsert() {
        ${table.getCName()}PO po = new ${table.getCName()}PO();

#foreach($field in $table.fields)
#if($field.fieldType == 'VARCHAR2')
        po.${field.setterName()}("$!{field.fieldComment}");
#elseif($field.fieldType == 'DATE')
        po.${field.setterName()}(new Date());
#elseif($field.fieldType == 'LONG')
        po.${field.setterName()}("$!{field.fieldComment}");
#elseif($field.fieldType == 'NUMBER')
        po.${field.setterName()}(1L);
#elseif($field.fieldType == 'BLOB')
        po.${field.setterName()}(null);
#elseif($field.fieldType == 'BOOLEAN')
        po.${field.setterName()}(false);
#end
#end
        long insert = ${table.getFName()}Service.insert(po);

        assertTrue(insert == 1);
    }

    @Test
    public void testDelete() {
        ${table.getCName()}PO po = new ${table.getCName()}PO();

#foreach($field in $table.fields)
#if($field.fieldType == 'VARCHAR2')
        po.${field.setterName()}("$!{field.fieldComment}");
#elseif($field.fieldType == 'DATE')
        po.${field.setterName()}(new Date());
#elseif($field.fieldType == 'LONG')
        po.${field.setterName()}("$!{field.fieldComment}");
#elseif($field.fieldType == 'NUMBER')
        po.${field.setterName()}(1L);
#elseif($field.fieldType == 'BLOB')
        po.${field.setterName()}(null);
#elseif($field.fieldType == 'BOOLEAN')
        po.${field.setterName()}(false);
#end
#end
        long insert = ${table.getFName()}Service.insert(po);

        assertTrue(insert == 1);

        long delete = ${table.getFName()}Service.delete(po,1L);

        assertTrue(delete == 1);
    }
}