<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.${moduleName}.mpr.${table.getCName()}Mapper">

#if($dataBase == 'ORACLE')
    <sql id="whereForFindList">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="request.${f.getFName()} != null">
            AND $f.fieldName = #{request.${f.getFName()}}
        </if>
#end
#end
    </sql>

    <sql id="whereForSearchList">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="request.keyword != null">
            AND $f.fieldName LIKE CONCAT(CONCAT('%',#{request.keyword),'%')
        </if>
#end
#end
    </sql>

    <resultMap id="${table.getFName()}" type="${basePackage}.${moduleName}.ent.${table.getCName()}">
#foreach($f in $table.fields)
        <result column="${f.fieldName}"  jdbcType="$!f.fieldType.jdbcType()" property="$f.getFName()"/>
#end
    </resultMap>

    <sql id="entityColumnList">
#set($i = 0)
        #foreach($f in $table.fields)#set($i = $i + 1)"${f.fieldName}"#if($i != $table.fields.size()),#end
#end

    </sql>

    <select id="find" resultMap="${table.getFName()}">
        SELECT * FROM
        (
        SELECT T.*,ROWNUM RN FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                "$!{db.dbprefix}${table.tableName}"
            WHERE
                IS_DELETED = 0
            <include refid="whereForFindList"/>
            <if test="requeest.sortKey != null and requeest.sortKey != ''">
                ORDER BY ${requset.sortKey} ${request.sortType}
            </if>
        ) T
        <if test="request.pageSize != 0">
            WHERE #{request.endIndex} >= ROWNUM
        </if>
        )
        <if test="request.pageSize != 0">
            WHERE RN > #{request.beginIndex}
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED = 0
        <include refid="whereForFindList"/>
    </select>

    <select id="search" resultMap="${table.getFName()}">
        SELECT * FROM
        (
        SELECT T.*,ROWNUM RN FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                "$!{db.dbprefix}${table.tableName}"
            WHERE
                IS_DELETED = 0
            <include refid="whereForSearchList"/>
            <if test="requeest.sortKey != null and requeest.sortKey != ''">
                ORDER BY ${requset.sortKey} ${request.sortType}
            </if>
        ) T
        <if test="request.pageSize != 0">
            WHERE #{request.endIndex} >= ROWNUM
        </if>
        )
        <if test="request.pageSize != 0">
            WHERE RN > #{request.beginIndex}
        </if>
    </select>

    <select id="searchCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED = 0
        <include refid="whereForSearchList"/>
    </select>

    <insert id="insert">
        INSERT INTO
        "$!{db.dbprefix}${table.tableName}"
        (
        <include refid="entityColumnList"/>
        )
        VALUES
        (
            #{request.id},
#foreach($f in $table.fields)
#if(!$f.isSystem)
            #{request.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
            0,
            0,
            #{token.userId,jdbcType=NUMERIC},
            sysdate,
            NULL,
            NULL
        )
    </insert>

    <update id="delete">
        UPDATE
            "$!{db.dbprefix}${table.tableName}"
        SET
            IS_DELETED = 1
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
    </update>

    <update id="update">
        UPDATE
            "$!{db.dbprefix}${table.tableName}"
        SET
#foreach($f in $table.fields)
#if(!${f.isPrimaryKey})
#if(!$f.isSystem || $f.fieldName == 'ID')
            ${f.fieldName} = #{request.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
#end
            ROW_VERSION = ROW_VERSION+1,
            LAST_UPDATE_BY = #{token.userId},
            LAST_UPDATE_TIME = sysdate
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
        AND ROW_VERSION = #{request.rowVersion}
    </update>

    <select id="getAll" resultMap="${table.getFName()}">
        SELECT
            <include refid="entityColumnList"/>
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE
            IS_DELETED = 0
    </select>

    <select id="get" resultMap="${table.getFName()}">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED=0
        AND ID = #{request.id}
    </select>
#end

#if($dataBase == 'MYSQL')
    <sql id="whereForFindList">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="request.${f.getFName()} != null">
            AND `$f.fieldName` = #{request.${f.getFName()}}
        </if>
#end
#end
    </sql>

    <sql id="whereForSearchList">
#foreach($f in $table.fields)
#if($f.isSearch)
        <if test="request.keyword != null">
            AND `$f.fieldName` LIKE CONCAT('%',#{request.keyword},'%')
        </if>
#end
#end
    </sql>

    <resultMap id="${table.getFName()}" type="${basePackage}.${moduleName}.ent.${table.getCName()}">
#foreach($f in $table.fields)
        <result column="${f.fieldName}"  jdbcType="$!f.fieldType.jdbcType()" property="$f.getFName()"/>
#end
    </resultMap>

    <sql id="entityColumnList">
#set($i = 0)
        #foreach($f in $table.fields)#set($i = $i + 1)`${f.fieldName}`#if($i != $table.fields.size()),#end
#end

    </sql>

    <select id="find" resultMap="${table.getFName()}">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `$!{db.dbprefix}${table.tableName}`
            WHERE
                `IS_DELETED` = 0
                <include refid="whereForFindList"/>
                <if test="requeest.sortKey != null and requeest.sortKey != ''">
                    ORDER BY ${requset.sortKey} ${request.sortType}
                </if>
        ) AS T

        <if test="request.pageSize !=0">
            LIMIT #{ request.beginIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            `$!{db.dbprefix}${table.tableName}`
        WHERE `IS_DELETED` = 0
        <include refid="whereForFindList"/>
    </select>

    <select id="search" resultMap="${table.getFName()}">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                `$!{db.dbprefix}${table.tableName}`
            WHERE
                `IS_DELETED` = 0
                <include refid="whereForSearchList"/>
                <if test="requeest.sortKey != null and requeest.sortKey != ''">
                    ORDER BY ${requset.sortKey} ${request.sortType}
                </if>
        ) AS T
        <if test="request.pageSize !=0">
            LIMIT #{ request.beginIndex }, #{ request.pageSize }
        </if>
    </select>

    <select id="searchCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            `$!{db.dbprefix}${table.tableName}`
        WHERE `IS_DELETED` = 0
        <include refid="whereForSearchList"/>
    </select>

    <insert id="insert">
        INSERT INTO
        `$!{db.dbprefix}${table.tableName}`
        (
        <include refid="entityColumnList"/>
        )
        VALUES
        (
            #{request.id,jdbcType=BIGINT},
#foreach($f in $table.fields)
#if(!$f.isSystem)
            #{request.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
            0,
            0,
            #{token.userId,jdbcType=NUMERIC},
            sysdate(),
            NULL,
            NULL
        )
    </insert>

    <update id="delete">
        UPDATE
            `$!{db.dbprefix}${table.tableName}`
        SET
            `IS_DELETED` = 1
        WHERE `IS_DELETED` = 0
        AND `ID` = #{request.id}
    </update>

    <update id="update">
        UPDATE
            `$!{db.dbprefix}${table.tableName}`
        SET
#foreach($f in $table.fields)
#if(!${f.isPrimaryKey})
#if(!$f.isSystem || $f.fieldName == 'ID')
            `${f.fieldName}` = #{request.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
#end
            `ROW_VERSION` = ROW_VERSION+1,
            `LAST_UPDATE_BY` = #{token.userId},
            `LAST_UPDATE_TIME` = sysdate()
        WHERE `IS_DELETED` = 0
        AND `ID` = #{request.id}
        AND `ROW_VERSION` = #{request.rowVersion}
    </update>

    <select id="getAll" resultMap="${table.getFName()}">
        SELECT
            <include refid="entityColumnList"/>
        FROM
            `$!{db.dbprefix}${table.tableName}`
        WHERE
            `IS_DELETED` = 0
    </select>

    <select id="get" resultMap="${table.getFName()}">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        `$!{db.dbprefix}${table.tableName}`
        WHERE `IS_DELETED` = 0
        AND `ID` = #{request.id}
    </select>
#end
</mapper>