package ${basePackage}.${moduleName}.mpr;

import org.apache.ibatis.annotations.Param;
import org.springframework.stereotype.Repository;
import java.util.List;
import ${basePackage}.${moduleName}.ent.${table.getCName()};
import ${basePackage}.${moduleName}.req.*;
import ${basePackage}.framework.base.Token;

/**
* ${table.tableName} - ${table.tableComment}
*
* @author ${author}
* @date ${yyyy-MM-dd}
*/
@Repository
public interface ${table.getCName()}Mapper{

    /**
    * 插入
    *
    * @param request 实体对象
    * @return 返回数量
    */
    long insert(@Param("request")${table.getCName()} request,@Param("token") Token token);

    /**
    * 逻辑删除
    *
    * @param request 删除对象
    * @return 返回数量
    */
    long delete(@Param("request") ${table.getCName()}DeleteRequest request,@Param("token") Token token);

    /**
    * 更新
    *
    * @param request 更新对象
    * @return 返回数量
    */
    long update(@Param("request") ${table.getCName()}UpdateRequest request,@Param("token") Token token);

    /**
     * 查询
     *
     * @param request 查询对象
     * @return 返回对象
     */
    List<${table.getCName()}> find(@Param("request") ${table.getCName()}FindRequest request,@Param("token") Token token);

    /**
     * 查询数量
     *
     * @param request 查询参数
     * @return 返回数量
     */
    long findCount(@Param("request") ${table.getCName()}FindRequest request,@Param("token") Token token);

    /**
     * 模糊查询
     *
     * @param request 查询对象
     * @return 返回对象
     */
    List<${table.getCName()}> search(@Param("request") ${table.getCName()}SearchRequest request,@Param("token") Token token);

    /**
     * 模糊查询数量
     *
     * @param request 查询参数
     * @return 返回数量
     */
    long searchCount(@Param("request") ${table.getCName()}SearchRequest request,@Param("token") Token token);

    /**
    * 获得所有
    *
    * @return 返回对象
    */
    List<${table.getCName()}> getAll(@Param("request") ${table.getCName()}GetAllRequest request,@Param("token") Token token);

    /**
    * 获得对象
    *
    * @return 返回对象
    */
    ${table.getCName()} get(@Param("request") ${table.getCName()}GetRequest request,@Param("token") Token token);
}
