<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.${moduleName}.dao.${table.getCName()}Dao">

    <resultMap id="${table.getFName()}PO" type="${basePackage}.${moduleName}.po.${table.getCName()}PO">
#foreach($f in $table.fields)
        <result column="${f.fieldName}" jdbcType="$!f.fieldType.jdbcType()" property="$f.getFName()"></result>
#end
    </resultMap>

    <sql id="entityColumnList">
#set($i = 0)
        #foreach($f in $table.fields)#set($i = $i + 1)"${f.fieldName}"#if($i != $table.fields.size()),#end
#end

    </sql>

#if($dataBase == 'ORACLE')
    <insert id="insert">
        INSERT INTO
        "$!{db.dbprefix}${table.tableName}"
        (
        <include refid="entityColumnList"/>
        )
        VALUES
        (
#set($i = 1)
#foreach($f in $table.fields)
#if($i != $table.fields.size())
        #{po.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()},
#else
        #{po.$f.getFName(),jdbcType=$!f.fieldType.jdbcType()}
#end
#set($i = $i + 1)
#end

        )
    </insert>

    <delete id="deleteById">
        DELETE
        "$!{db.dbprefix}${table.tableName}"
        WHERE
#set($i = 1)
#foreach($f in $table.fields)
#if($f.isPrimaryKey)
#if($i == 1)
            "${f.fieldName}" = #{po.$f.getFName()}
#else
        AND "${f.fieldName}" = #{po.$f.getFName()}
#end
#set($i = $i + 1)
#end
#end
    </delete>

    <update id="updateById">
        UPDATE
        "$!{db.dbprefix}${table.tableName}"
        SET
#set($i = 1)
#foreach($f in $table.fields)
#if(!$f.isPrimaryKey)
#if($i==1)
        "${f.fieldName}" = #{po.$f.getFName()}
#else
       ,"${f.fieldName}" = #{po.$f.getFName()}
#end
#set($i = $i + 1)
#end
#end
        WHERE
#set($i = 1)
#foreach($f in $table.fields)
#if($f.isPrimaryKey)
#if($i == 1)
            "${f.fieldName}" = #{po.$f.getFName()}
#else
        AND "${f.fieldName}" = #{po.$f.getFName()}
#end
#set($i = $i + 1)
#end
#end
    </update>

    <select id="getById" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE
#set($i = 1)
#foreach($f in $table.fields)
#if($f.isPrimaryKey)
#if($i == 1)
            "${f.fieldName}" = #{po.$f.getFName()}
#else
        AND "${f.fieldName}" = #{po.$f.getFName()}
#end
#set($i = $i + 1)
#end
#end
    </select>

    <select id="queryAll" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE
#set($i = 1)
#foreach($f in $table.fields)
#if($f.isPrimaryKey)
#if($i == 1)
    <if test="po.${f.getFName()} != null">
        $f.fieldName = #{po.${f.getFName()}}
    </if>
#else
    <if test="po.${f.getFName()} != null">
        AND $f.fieldName = #{po.${f.getFName()}}
    </if>
#end
#set($i = $i + 1)
#end
#end
    </select>

    <sql id="whereForQuery">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="po.${f.getFName()} != null">
            AND $f.fieldName = #{po.${f.getFName()}}
        </if>
#end
#end
    </sql>

    <select id="query" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE 1=1
        <include refid="whereForQuery"/>
    </select>

    <sql id="whereForFind">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="po.${f.getFName()} != null">
            AND $f.fieldName = #{po.${f.getFName()}}
        </if>
#end
#end
    </sql>

    <select id="find" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE 1=1
        <include refid="whereForFind"/>
    </select>

    <sql id="whereForSearch">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="po.${f.getFName()} != null">
            AND $f.fieldName LIKE CONCAT(CONCAT('%', #{po.${f.getFName()}}),'%')
        </if>
#end
#end
    </sql>

    <select id="search" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE 1=1
        <include refid="whereForSearch"/>
    </select>

    <select id="existById"  resultType="java.lang.Long">
        SELECT
            COUNT(*)
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE
#set($i = 1)
#foreach($f in $table.fields)
#if($f.isPrimaryKey)
#if($i == 1)
            "${f.fieldName}" = #{po.$f.getFName()}
#else
        AND "${f.fieldName}" = #{po.$f.getFName()}
#end
#set($i = $i + 1)
#end
#end
    </select>

#end

</mapper>