<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.${moduleName}.dao.$tool.lineToClassName(${table.tableName})Mapper">

    <sql id="whereForFindList">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="request.${tool.lineToFieldName(${f.fieldName})} != null">
            AND $f.fieldName = #{request.${tool.lineToFieldName(${f.fieldName})}}
        </if>
#end
#end
    </sql>

    <resultMap id="$tool.lineToFieldName(${table.tableName})PO" type="${basePackage}.${moduleName}.po.$tool.lineToClassName(${table.tableName})PO">
#foreach($f in $table.fields)
        <result column="${f.fieldName}"  jdbcType="$!f.fieldType.jdbcType()" property="$tool.lineToFieldName($f.fieldName)"/>
#end
    </resultMap>

    <sql id="entityColumnList">
#set($i = 0)
        #foreach($f in $table.fields)#set($i = $i + 1)${f.fieldName}#if($i != $table.fields.size()),#end
#end

    </sql>

#if($dataBase == 'ORACLE')
    <select id="find" resultMap="$tool.lineToFieldName(${table.tableName})PO">
        SELECT * FROM
        (
        SELECT T.*,ROWNUM FROM
        (
        SELECT
            <include refid="entityColumnList"/>
        FROM
            "${table.tableName}"
        WHERE IS_DELETED=0
            <include refid="whereForFindList"/>
        ) T
        <if test="request.pageSize != 0">
            WHERE #{request.endIndex} >= ROWNUM
        </if>
        )
        <if test="request.pageSize != 0">
            WHERE ROWNUM >=  #{request.beginIndex}
        </if>
    </select>
#end
#if($dataBase == 'MYBATIS')
    <select id="find" resultMap="$tool.lineToFieldName(${table.tableName})PO">
        SELECT * FROM
        (
            SELECT
                <include refid="entityColumnList"/>
            FROM
                "${table.tableName}"
            WHERE IS_DELETED = 0
                <include refid="whereForFindList"/>
        ) T
        <if test="request.pageSize!=0">
            LIMIT #{request.beginItemIndex}, #{request.pageSize}
        </if>
    </select>
#end

    <select id="findCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            "${table.tableName}"
        WHERE IS_DELETED = 0
        <include refid="whereForFindList"/>
    </select>

    <insert id="insert">
        INSERT INTO
        "${table.tableName}"
        (
        <include refid="entityColumnList"/>
        )
        VALUES
        (
#foreach($f in $table.fields)
#if(!$f.isSystem || $f.fieldName == 'ID')
            #{po.${tool.lineToFieldName($f.fieldName)}},
#end
#end
            0,
            0,
            #{passpord.userId},
            sysdate(),
            null,
            null
        )
    </insert>

    <update id="delete">
        UPDATE
            "${table.tableName}"
        SET
            IS_DELETED = 1
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
        AND ROWVERSION = #{request.rowVersion}
    </update>

    <insert id="update">
        UPDATE
            "${table.tableName}"
        SET
#foreach($f in $table.fields)
#if(!${f.isPrimaryKey})
#if(!$f.isSystem || $f.fieldName == 'ID')
            ${f.fieldName} = #{po.${tool.lineToFieldName($f.fieldName)}},
#end
#end
#end
            ROWVERSION = ROWVERSION+1
            LAST_UPDATED_BY = #{passpord.userId},
            LAST_UPDATED_TIME = sysdate()
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
        AND ROWVERSION = #{request.rowVersion}
    </insert>

    <select id="findAll" resultMap="$tool.lineToFieldName(${table.tableName})PO">
        SELECT
            <include refid="entityColumnList"/>
        FROM
            "${table.tableName}"
        WHERE
            ID_DELETED = 0
    </select>

</mapper>