#if($dataBase == 'ORACLE')
/*
Target   : ORACLE
Author
Date:    ${yyyy-MM-dd}
*/

-- ----------------------------
-- Table structure for ${table.tableName} - ${table.tableComment}
-- ----------------------------

CREATE TABLE "$!{db.dbprefix}${table.tableName}" (
#set($i = 0)
#foreach($field in $table.fields)
#set($i = $i + 1)
    $!{dBmapper.getFieldSql($field)}#if($i != $table.fields.size()),#end

#end
);

COMMENT ON TABLE $!{db.dbprefix}${table.tableName} is '${table.tableComment}';
#foreach($field in $table.fields)
COMMENT ON COLUMN $!{db.dbprefix}${table.tableName}.${field.fieldName} is '$!{field.fieldComment}';
#end
#end
#if($dataBase == 'MYSQL')
/*
Target   : MYSQL
Author
Date:    ${yyyy-MM-dd}
*/

-- ----------------------------
-- Table structure for ${table.tableName} - ${table.tableComment}
-- ----------------------------

CREATE TABLE `$!{db.dbprefix}${table.tableName}` (
#foreach($field in $table.fields)
        $!{dBmapper.getFieldSql($field)},
#end
PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='${table.tableComment}';
#end