package ${basePackage}.${moduleName}.mgr;

import java.util.List;
import ${basePackage}.framework.*;
import ${basePackage}.${moduleName}.mgr.${table.getCName()}Manager;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;
import ${basePackage}.${moduleName}.dao.${table.getCName()}Mapper;
import ${basePackage}.${moduleName}.request.*;
import ${basePackage}.${moduleName}.response.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import org.apache.ibatis.annotations.Param;

/**
 * ${table.tableName} - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
@Transactional
@Service
public class ${table.getCName()}ManagerImpl implements ${table.getCName()}Manager {

    @Autowired
    private ${table.getCName()}Mapper ${table.getFName()}Mapper;

    /**
    * 插入
    *
    * @param request 实体对象
    * @return 返回数量
    */
    public ${table.getCName()}CreateResponse create(${table.getCName()}CreateRequest request, Token token){
        ${table.getCName()}CreateResponse response = new ${table.getCName()}CreateResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }

        long id = IDgenerator.nextId();

        ${table.getCName()}PO entity = MapperUtil.map(request, ${table.getCName()}PO.class);
        entity.setId(id);

        long result = ${table.getFName()}Mapper.insert(entity,token);
        if (1L != result){
            response.addError(ErrorType.BUSINESS_ERROR, Message.CREATE_FAILURE);
            return response;
        }
        response.setId(id);

        return response;
    }

    /**
    * 逻辑删除
    *
    * @param request 删除对象
    * @return 返回数量
    */
    public ${table.getCName()}DeleteResponse delete(${table.getCName()}DeleteRequest request, Token token){
        ${table.getCName()}DeleteResponse response = new ${table.getCName()}DeleteResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
        long result = ${table.getFName()}Mapper.delete(request,token);
        if (1L != result){
            response.addError(ErrorType.BUSINESS_ERROR, Message.DELETE_FAILURE);
            return response;
        }
        response.setResult(result);

        return response;
    }

    /**
    * 更新
    *
    * @param request 更新对象
    * @return
    */
    public ${table.getCName()}UpdateResponse update(${table.getCName()}UpdateRequest request, Token token){
        ${table.getCName()}UpdateResponse response = new ${table.getCName()}UpdateResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
        long result = ${table.getFName()}Mapper.update(request, token);
        if (1L != result) {
            response.addError(ErrorType.BUSINESS_ERROR, Message.UPDATE_FAILURE);
            return response;
        }
        response.setResult(result);

        return response;
    }

    /**
    * 查询
    *
    * @param request 查询对象
    * @return
    */
    public ${table.getCName()}FindResponse find(${table.getCName()}FindRequest request, Token token) {
        ${table.getCName()}FindResponse response = new ${table.getCName()}FindResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
        long count = ${table.getFName()}Mapper.findCount(request,token);
        response.setTotalCount(count);

        if (count > 0){
            List<${table.getCName()}PO> list = ${table.getFName()}Mapper.find(request,token);
            response.setResult(list);
        }
        return response;
    }

    /**
    * 模糊查询
    *
    * @param request 查询对象
    * @return
    */
    public ${table.getCName()}SearchResponse search(${table.getCName()}SearchRequest request, Token token) {
	    ${table.getCName()}SearchResponse response = new ${table.getCName()}SearchResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
	
        long count = ${table.getFName()}Mapper.searchCount(request,token);
        response.setTotalCount(count);

        if (count > 0){
            List<${table.getCName()}PO> list = ${table.getFName()}Mapper.search(request,token);
            response.setResult(list);
        }
        return response;
    }

    /**
    * 查询所有
    *
    * @return
    */
    public ${table.getCName()}GetAllListResponse getAll(${table.getCName()}GetAllListRequest request, Token token){
        ${table.getCName()}GetAllListResponse response = new ${table.getCName()}GetAllListResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
        List<${table.getCName()}PO> list = ${table.getFName()}Mapper.getAll(request,token);
        response.setResult(list);

        return response;
    }

    /**
    * 获得对象
    *
    * @return
    */
    public ${table.getCName()}GetResponse get(${table.getCName()}GetRequest request, Token token){
        ${table.getCName()}GetResponse response = new ${table.getCName()}GetResponse();

        ValidationUtil.validate(request,response);
        if (response.hasError()){
            return response;
        }
		
        ${table.getCName()}PO po= ${table.getFName()}Mapper.get(request,token);

        if (po != null){
            response.set${table.getCName()}(po);
        } else {
            response.addError(ErrorType.BUSINESS_ERROR, Message.GET_FAILURE);
        }
        return response;
    }
}
