<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ include file="include/top.jsp" %>
<html>
<head>
    <title></title>
    <%@ include file="include/head.jsp" %>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body ng-controller="BodyController">
<div class="main" ng-controller="mainCtrl">
    <ul class="report-list">
        <li ng-repeat="item in result">
            <a class="report" ng-href="report?id={{item.id}}">
                <p>{{item.name}}</p>
            </a>
        </li>
    </ul>
</div>
<%@ include file="include/foot.jsp" %>
</body>
</html>
