package ${basePackage}.${moduleName}.rsp;

import java.util.List;
import ${basePackage}.framework.BaseFindResponse;
import ${basePackage}.${moduleName}.ent.${table.getCName()};

/**
 * ${table.getCName()}FindResponse - ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class ${table.getCName()}FindResponse extends BaseFindResponse<${table.getCName()}>{
}