html, body {
    height: 100%;
    margin: 0;
}
body{
    background: url("../img/background.png") repeat;
}
* {
    margin: 0px;
    padding: 0px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error {
    border: 1px solid #ff0000;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-small {
    font-size: small;
    font-weight: lighter;
}

.color-default {
    color: #bbbbbb
}

input.ng-invalid {
    border: 1px solid red;
}

select.ng-invalid {
    border: 1px solid red;
}

.m-r10 {
    margin-right: 10px;
}

.m-r20 {
    margin-right: 20px;
}

.m-r30 {
    margin-right: 30px;
}

.m-r40 {
    margin-right: 40px;
}

.m-r50 {
    margin-right: 50px;
}

.m-r100 {
    margin-right: 100px;
}

.m-r200 {
    margin-right: 200px;
}

.m-l20 {
    margin-left: 20px;
}

.m-l30 {
    margin-left: 30px;
}

.wb-grid {
    display: table;
}

.wb-grid-row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: table-row;
}

.wb-grid-col {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.wb-grid-label {
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wb-grid-col-1 {
    width: 1%;
}

.wb-grid-col-2 {
    width: 2%;
}

.wb-grid-col-3 {
    width: 3%;
}

.wb-grid-col-4 {
    width: 4%;
}

.wb-grid-col-5 {
    width: 5%;
}

.wb-grid-col-6 {
    width: 6%;
}

.wb-grid-col-7 {
    width: 7%;
}

.wb-grid-col-8 {
    width: 8%;
}

.wb-grid-col-9 {
    width: 9%;
}

.wb-grid-col-10 {
    width: 10%;
}

.wb-grid-col-11 {
    width: 11%;
}

.wb-grid-col-12 {
    width: 12%;
}

.wb-grid-col-13 {
    width: 13%;
}

.wb-grid-col-14 {
    width: 14%;
}

.wb-grid-col-15 {
    width: 15%;
}

.wb-grid-col-16 {
    width: 16%;
}

.wb-grid-col-17 {
    width: 17%;
}

.wb-grid-col-18 {
    width: 18%;
}

.wb-grid-col-19 {
    width: 19%;
}

.wb-grid-col-20 {
    width: 20%;
}

.wb-grid-col-21 {
    width: 21%;
}

.wb-grid-col-22 {
    width: 22%;
}

.wb-grid-col-23 {
    width: 23%;
}

.wb-grid-col-24 {
    width: 24%;
}

.wb-grid-col-25 {
    width: 25%;
}

.wb-grid-col-26 {
    width: 26%;
}

.wb-grid-col-27 {
    width: 27%;
}

.wb-grid-col-28 {
    width: 28%;
}

.wb-grid-col-29 {
    width: 29%;
}

.wb-grid-col-30 {
    width: 30%;
}

.wb-grid-col-31 {
    width: 31%;
}

.wb-grid-col-32 {
    width: 32%;
}

.wb-grid-col-33 {
    width: 33%;
}

.wb-grid-col-34 {
    width: 34%;
}

.wb-grid-col-35 {
    width: 35%;
}

.wb-grid-col-36 {
    width: 36%;
}

.wb-grid-col-37 {
    width: 37%;
}

.wb-grid-col-38 {
    width: 38%;
}

.wb-grid-col-39 {
    width: 39%;
}

.wb-grid-col-40 {
    width: 40%;
}

.wb-grid-col-41 {
    width: 41%;
}

.wb-grid-col-42 {
    width: 42%;
}

.wb-grid-col-43 {
    width: 43%;
}

.wb-grid-col-44 {
    width: 44%;
}

.wb-grid-col-45 {
    width: 45%;
}

.wb-grid-col-46 {
    width: 46%;
}

.wb-grid-col-47 {
    width: 47%;
}

.wb-grid-col-48 {
    width: 48%;
}

.wb-grid-col-49 {
    width: 49%;
}

.wb-grid-col-50 {
    width: 50%;
}

.wb-grid-col-51 {
    width: 51%;
}

.wb-grid-col-52 {
    width: 52%;
}

.wb-grid-col-53 {
    width: 53%;
}

.wb-grid-col-54 {
    width: 54%;
}

.wb-grid-col-55 {
    width: 55%;
}

.wb-grid-col-56 {
    width: 56%;
}

.wb-grid-col-57 {
    width: 57%;
}

.wb-grid-col-58 {
    width: 58%;
}

.wb-grid-col-59 {
    width: 59%;
}

.wb-grid-col-60 {
    width: 60%;
}

.wb-grid-col-61 {
    width: 61%;
}

.wb-grid-col-62 {
    width: 62%;
}

.wb-grid-col-63 {
    width: 63%;
}

.wb-grid-col-64 {
    width: 64%;
}

.wb-grid-col-65 {
    width: 65%;
}

.wb-grid-col-66 {
    width: 66%;
}

.wb-grid-col-67 {
    width: 67%;
}

.wb-grid-col-68 {
    width: 68%;
}

.wb-grid-col-69 {
    width: 69%;
}

.wb-grid-col-70 {
    width: 70%;
}

.wb-grid-col-71 {
    width: 71%;
}

.wb-grid-col-72 {
    width: 72%;
}

.wb-grid-col-73 {
    width: 73%;
}

.wb-grid-col-74 {
    width: 74%;
}

.wb-grid-col-75 {
    width: 75%;
}

.wb-grid-col-76 {
    width: 76%;
}

.wb-grid-col-77 {
    width: 77%;
}

.wb-grid-col-78 {
    width: 78%;
}

.wb-grid-col-79 {
    width: 79%;
}

.wb-grid-col-80 {
    width: 80%;
}

.wb-grid-col-81 {
    width: 81%;
}

.wb-grid-col-82 {
    width: 82%;
}

.wb-grid-col-83 {
    width: 83%;
}

.wb-grid-col-84 {
    width: 84%;
}

.wb-grid-col-85 {
    width: 85%;
}

.wb-grid-col-86 {
    width: 86%;
}

.wb-grid-col-87 {
    width: 87%;
}

.wb-grid-col-88 {
    width: 88%;
}

.wb-grid-col-89 {
    width: 89%;
}

.wb-grid-col-90 {
    width: 90%;
}

.wb-grid-col-91 {
    width: 91%;
}

.wb-grid-col-92 {
    width: 92%;
}

.wb-grid-col-93 {
    width: 93%;
}

.wb-grid-col-94 {
    width: 94%;
}

.wb-grid-col-95 {
    width: 95%;
}

.wb-grid-col-96 {
    width: 96%;
}

.wb-grid-col-97 {
    width: 97%;
}

.wb-grid-col-98 {
    width: 98%;
}

.wb-grid-col-99 {
    width: 99%;
}

.wb-grid-col-100 {
    width: 100%;
}

.wb-offset-l10 {
    margin-left: -10px;
}

.wb-offset-l20 {
    margin-left: -20px;
}

.wb-offset-l30 {
    margin-left: -30px;
}

.wb-offset-l40 {
    margin-left: -40px;
}

.wb-offset-l50 {
    margin-left: -50px;
}

.wb-offset-l60 {
    margin-left: -60px;
}

.wb-offset-l70 {
    margin-left: -70px;
}

.wb-offset-l80 {
    margin-left: -80px;
}

.wb-offset-l90 {
    margin-left: -90px;
}

.wb-offset-l100 {
    margin-left: -100px;
}

.wb-offset-l150 {
    margin-left: -150px;
}

.wb-offset-l200 {
    margin-left: -200px;
}

.wb-offset-r10 {
    margin-left: 20px;
}

.wb-offset-r20 {
    margin-left: 20px;
}

.wb-offset-r30 {
    margin-left: 30px;
}

.wb-offset-r40 {
    margin-left: 40px;
}

.wb-offset-r50 {
    margin-left: 50px;
}

.wb-offset-r60 {
    margin-left: 60px;
}

.wb-offset-r70 {
    margin-left: 70px;
}

.wb-offset-r80 {
    margin-left: 80px;
}

.wb-offset-r90 {
    margin-left: 90px;
}

.wb-offset-r100 {
    margin-left: 100px;
}

.wb-offset-r150 {
    margin-left: 150px;
}

.wb-offset-r200 {
    margin-left: 200px;
}

.wb-foot {
    margin: 0px auto;
    padding: 10px;
}
.wb-btn-sm{
    width: 100px;
}
.wb-btn-nm{
    width: 150px;
}
.wb-title{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    border-left: 5px solid #337ab7;
    padding-left: 15px;
}

a:hover,a:focus,a:visited{
    cursor: hand;
    text-decoration: none;
}


/** wb-frame*/
.wb-container{
    width: 1000px;
    margin: 0px auto;
}

.wb-head {
    margin: 0px auto;
}

.wb-body {
    padding: 10px;
}

.wb-ctrl {
    padding: 5px 0px;
}

.wb-nav {

}
/** wb-frame*/


.requesting{
    position: fixed;
    left: 50%;
    bottom: 50%;
    height: 30px;
    width: 100%;
    background: url("../images/loading4.gif") no-repeat;
    background-size: auto 100%;
}

.head-nav{
    height: 37px;
    line-height: 37px;
    background-color: #5aa3f5;
    width: 100%;
    margin: 0px auto;
}
.head-nav ul{
    margin: 0px auto;
    width: 1000px;
    display: block;
    text-align: left;
    position: relative;
    white-space: nowrap;
}
.head-nav ul li{
    display: table-cell;
}
.head-nav ul li.active{
    background-color: #4780bf;
}
.head-nav ul li a{
    padding: 0px 10px;
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.head-nav ul li a:hover{
    background-color: #4577b3;
}
.red{
    color: red;
}
.login_out{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.head-nav ul li.login_out a{
    display: inline-block;
    padding: 0px 0px;
    width: inherit;
    height: 100%;
    color: #ffffff;
}
.head-nav ul li.login_out a:hover{
    background-color: inherit;
}
.login_out a.logout:hover{
    text-decoration: underline;
}