package ${basePackage}.${moduleName}.dao;

import org.springframework.stereotype.Repository;
import java.util.List;
import ${basePackage}.${moduleName}.po.${table.getCName()}PO;
import java.util.Map;

/**
* ${table.tableName} - ${table.tableComment}
*
* @author
* @date ${yyyy-MM-dd}
*/
@Repository
public interface ${table.getCName()}Mapper{

    /**
    * 插入
    *
    * @param map 实体对象
    * @return 返回数量
    */
    long insert(Map<String,Object> map);

    /**
    * 逻辑删除
    *
    * @param map 删除对象
    * @return 返回数量
    */
    long delete(Map<String,Object> map);

    /**
    * 更新
    *
    * @param map 更新对象
    * @return 返回数量
    */
    long update(Map<String,Object> map);

    /**
     * 查询
     *
     * @param map 查询对象
     * @return 返回对象
     */
    List<${table.getCName()}PO> find(Map<String,Object> map);

    /**
     * 查询数量
     *
     * @param map 查询参数
     * @return 返回数量
     */
    long findCount(Map<String,Object> map);

    /**
    * 查询所有
    *
    * @return 返回对象
    */
    List<${table.getCName()}PO> findAll();
}
