<h3>本代码后端使用Spring MVC + mybatis ,视图 及 前端使用freemarker + Vue.js + Element</h3>

<h3>以下主要介绍 freemarker + Vue.js + Element等用法</h3>

<div style="padding-left: 20px;margin: 20px">
    <h3>freemarker 用法及DEMO部分</h3>
    <style rel="stylesheet">
        div {
            line-height: 35px;;
        }
    </style>
    <h2>占位输出</h2>

    <div>
        【1.1 输出变量】：
    ${hello}
    </div>
    <div>
        【1.2 自定义变量】：
    <=#=assign hw = "hello,world"/>
    ${hw}
    </div>
    <h2>条件输出</h2>

    <div>
        【2.1 if else 组合】：
    <=#=if status == 0>
        status is 0
    <=#=else>
        status is not 0
    </=#=if>
    </div>
    <div>
        【2.2 if elseif else 组合】：
    <=#=if status ==0 >
        status = 0
    <=#=elseif status ==1>
        status = 1
    <=#=else>
        status != 0 && status !=1
    </=#=if>
    </div>
    <h2>遍历集合Foreach</h2>

    <div>
        【3.1 foreach】：
    <=#=list citys as city>
    ${city}
    </=#=list>
    </div>
    <div>
        【3.2 Foreach获得索引】：
    <=#=list citys as city>
    ${city_index} --> ${city}
    </=#=list>
    </div>
    <h2>宏指令</h2>

    <div>
        【4. macro 宏指令】， 类似于自定义方法
        4.1. 定义宏指令(定义方法)
    <=#=macro sayHello name1 name2>
        hello, ${name1} and ${name2}
    </=#=macro>

    </div>
    <div>
        【4.2. 调用宏指令(调用方法)】
    <@sayHello name1="zhangsan" name2="lisi"/>

    </div>
    <div>
        【4.3. nested 指令】： 代替调用宏指令时标签对之间包裹的内容
    <=#=macro hw>
        hello,<=#=nested>
    </=#=macro>
    <@hw>zhangsan,lisi,wangwu,zhaoliu</@hw>

    </div>
    <h2>import指令</h2>

    <div>
        【5. import 指令】： 引入命名空间：
        1. 引入命名空间：<=#=import "/control/macro.ftl" as macro />
    <=#=--2. 调用响应方法：<@macro.printEmp employee/>-->
    <=#=--3. 调用变量：${macro.fileName}-->
    <=#=--修改变量：<=#=assign fileName = "command.ftl" in util />-->
    ${macro.fileName}

    </div>
    <h2>include指令</h2>

    <div>
        【6. include 】嵌入文件：
    <=#=include "/control/footer.ftl" />
    </div>
</div>


<div style="padding-left: 20px;margin: 20px">

    <h3>此部分为Vue.js + Element 用法及DEMO部分</h3>

    <div id="moudule">
        <h3>常见组件用法(详细请参考attach)</h3>


        <el-row>
            <el-col :span="5">输入框</el-col>
            <el-col :span="5">
                <template>
                    <el-input v-model="value"></el-input>
                </template>
            </el-col>
        </el-row>


        <el-row>
            <el-col :span="5">普通按钮</el-col>
            <el-col :span="5">
                <template>
                    <el-button @click="message()">普通按钮</el-button>
                </template>
            </el-col>
        </el-row>

        <el-row>
            <el-col :span="5">选择框</el-col>
            <el-col :span="5">
                <template>
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
            </el-col>
        </el-row>


        <el-row>
            <el-col :span="5">多选框</el-col>
            <el-col :span="5">
                <template>
                    <el-checkbox v-model="checked1">备选项1</el-checkbox>
                    <el-checkbox v-model="checked2">备选项</el-checkbox>
                </template>
            </el-col>
        </el-row>


        <el-row>
            <el-col :span="5">开关</el-col>
            <el-col :span="5">
                <template>
                    <el-switch
                            v-model="value2"
                            active-color="=#=13ce66"
                            inactive-color="=#=ff4949">
                    </el-switch>
                </template>
            </el-col>
        </el-row>


        <el-row>
            <el-col :span="5">日期选择器</el-col>
            <el-col :span="5">
                <template>
                    <el-date-picker
                            v-model="date"
                            type="datetime"
                            placeholder="选择日期时间">
                    </el-date-picker>
                </template>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="5">分页</el-col>
            <el-col :span="5">
                <template>
                    <el-pagination
                            small
                            layout="prev, pager, next"
                            :total="50">
                    </el-pagination>
                </template>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="5">弹出框</el-col>
            <el-col :span="3">
                <template>
                    <el-popover
                            placement="top-start"
                            title="标题"
                            width="200"
                            trigger="hover"
                            content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
                        <el-button slot="reference">hover 激活</el-button>
                    </el-popover>
                </template>
            </el-col>
            <el-col :span="3">
            <template>
                <el-popover
                        placement="bottom"
                        title="标题"
                        width="200"
                        trigger="click"
                        content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
                    <el-button slot="reference">click 激活</el-button>
                </el-popover>

            </template>
            </el-col>
            <el-col :span="3">
                <template>
                    <el-popover
                            ref="popover"
                            placement="right"
                            title="标题"
                            width="200"
                            trigger="focus"
                            content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
                    </el-popover>
                    <el-button v-popover:popover>focus 激活</el-button>
                </template>
            </el-col>
        </el-row>
    </div>


    <script>
        $(function () {
            var moudule = new Vue({
                el: '=#=moudule',
                data: {
                    vm: {
                        pageNumber: 1,
                        pageSize: 10,
                        totalCount: 15,
                        loading: false,
                    },
                    options: [{
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }],
                    value: '',
                    input: '',
                    checked1: false,
                    checked2: true,
                    value1: true,
                    value2: true,
                    date: '',
                },
                methods: {
                    message: function () {
                        toast.i("我是Vue+Element弹出的消息")

                    }
                }

            });
        })
    </script>
</div>
