package ${basePackage}.${moduleName}.base;

import java.util.List;

/**
 * FindResponse
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class FindResponse<T> extends Response{

    private List<T> result;

    private Long totalCount;

    public List<T> getResult() {
        return result;
    }

    public void setResult(List<T> result) {
        this.result = result;
    }

    public Long getTotalCount() {
        return totalCount;
    }

    public void setTotalCount(Long totalCount) {
        this.totalCount = totalCount;
    }
}
