package ${basePackage}.${moduleName}.base;

/**
* FindRequest - 基类
* @author
* @Time ${yyyy-MM-dd}
*/
public class FindRequest extends Request {
    private long pageNumber = 1L;
    private long pageSize = 10L;
    private long beginIndex;
    private long endIndex;

    public long getPageNumber() {
        return pageNumber;
    }

    public void setPageNumber(long pageNumber) {
        this.pageNumber = pageNumber;
    }

    public long getPageSize() {
        return pageSize;
    }

    public void setPageSize(long pageSize) {
        this.pageSize = pageSize;
    }

    public long getBeginIndex() {
        return beginIndex;
    }

    public void setBeginIndex(long beginIndex) {
        this.beginIndex = beginIndex;
    }

    public long getEndIndex() {
        return endIndex;
    }

    public void setEndIndex(long endIndex) {
        this.endIndex = endIndex;
    }

    public void setTotalCount(Long count){
        if (pageSize > 0){
            if ((count/pageSize +  count % pageSize > 0 ? 1 : 0) < pageNumber){
                pageNumber = count/pageSize +  count % pageSize > 0 ? 1 : 0;
                beginIndex = (pageNumber-1)*pageSize + 1;
                endIndex = count;
                }else if ((count/pageSize +  count % pageSize > 0 ? 1 : 0) == pageNumber){
                beginIndex = (pageNumber-1)*pageSize + 1;
                endIndex = count;
            }else {
                beginIndex = (pageNumber-1)*pageSize + 1;
                endIndex = pageNumber * pageSize;
            }
        }else {
            beginIndex = 1;
            endIndex = count;
        }
    }
}
