package ${basePackage}.${moduleName}.base;

import java.io.Serializable;

/**
* LocalData
* @author
* @Time  ${yyyy-MM-dd}
*/
public class LocalData implements Serializable{
    private static final long serialVersionUID = 1L;

    /**
     * 当前用户的护照信息
     */
    private static final ThreadLocal<Token> tokenHolder = new ThreadLocal();

    public static Token getToken() {
        return tokenHolder.get();
    }
}
