<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志输出跟目录 -->
    <property name="logRoot" value="c:/"/>

    <!-- 日常error日志生成 -->
    <appender name="DAILY_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--活动日志文件，如果不指定那么直接使用归档文件生成策略-->
        <File>${logRoot}logs/error/error.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%-5p %d{yy-MM-dd HH:mm:ss} [%c{10} %L] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档文件生成策略 -->
            <fileNamePattern>${logDir}logs/error/error-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 日常warn日志生成 -->
    <appender name="DAILY_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--活动日志文件，如果不指定那么直接使用归档文件生成策略-->
        <File>${logRoot}logs/warn/warn.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%-5p %d{yy-MM-dd HH:mm:ss} [%c{10} %L] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档文件生成策略 -->
            <fileNamePattern>${logDir}logs/warn/warn-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 日常info日志生成 -->
    <appender name="DAILY_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--活动日志文件，如果不指定那么直接使用归档文件生成策略-->
        <File>${logRoot}logs/info/info.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%-5p %d{yy-MM-dd HH:mm:ss} [%c{10} %L] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 归档文件生成策略 -->
            <fileNamePattern>${logDir}logs/info/info-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!-- 控制台日志输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5p %d{yy-MM-dd HH:mm:ss} [%c{10} %L] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DAILY_ERROR"/>
        <appender-ref ref="DAILY_WARN"/>
        <appender-ref ref="DAILY_INFO"/>
    </root>
</configuration>