<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${basePackage}.${moduleName}.dao.${table.getCName()}Mapper">


#if($dataBase == 'ORACLE')
    <sql id="whereForFindList">
#foreach($f in $table.fields)
#if($f.isQuery)
        <if test="request.${f.getFName()} != null">
            AND $f.fieldName = #{request.${f.getFName()}}
        </if>
#end
#end
    </sql>

    <resultMap id="${table.getFName()}PO" type="${basePackage}.${moduleName}.po.${table.getCName()}PO">
#foreach($f in $table.fields)
        <result column="${f.fieldName}"  jdbcType="$!f.fieldType.jdbcType()" property="$f.getFName()"/>
#end
    </resultMap>

    <sql id="entityColumnList">
#set($i = 0)
        #foreach($f in $table.fields)#set($i = $i + 1)"${f.fieldName}"#if($i != $table.fields.size()),#end
#end

    </sql>

    <select id="find" resultMap="${table.getFName()}PO">
        SELECT * FROM
        (
        SELECT T.*,ROWNUM FROM
        (
        SELECT
            <include refid="entityColumnList"/>
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED=0
            <include refid="whereForFindList"/>
        ) T
        <if test="request.pageSize != 0">
            WHERE #{request.endIndex} >= ROWNUM
        </if>
        )
        <if test="request.pageSize != 0">
            WHERE ROWNUM >=  #{request.beginIndex}
        </if>
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED = 0
        <include refid="whereForFindList"/>
    </select>

    <insert id="insert">
        INSERT INTO
        "$!{db.dbprefix}${table.tableName}"
        (
        <include refid="entityColumnList"/>
        )
        VALUES
        (
#foreach($f in $table.fields)
#if(!$f.isSystem || $f.fieldName == 'ID')
            #{request.$f.getFName()),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
            0,
            0,
            #{token.userId,jdbcType=NUMERIC},
            sysdate,
            NULL,
            NULL
        )
    </insert>

    <update id="delete">
        UPDATE
            "$!{db.dbprefix}${table.tableName}"
        SET
            IS_DELETED = 1
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
        AND ROW_VERSION = #{request.rowVersion}
    </update>

    <update id="update">
        UPDATE
            "$!{db.dbprefix}${table.tableName}"
        SET
#foreach($f in $table.fields)
#if(!${f.isPrimaryKey})
#if(!$f.isSystem || $f.fieldName == 'ID')
            ${f.fieldName} = #{request.$f.getFName()),jdbcType=$!f.fieldType.jdbcType()},
#end
#end
#end
            ROW_VERSION = ROW_VERSION+1
            LAST_UPDATED_BY = #{token.userId},
            LAST_UPDATED_TIME = sysdate
        WHERE IS_DELETED = 0
        AND ID = #{request.id}
        AND ROW_VERSION = #{request.rowVersion}
    </update>

    <select id="findAll" resultMap="${table.getFName()}PO">
        SELECT
            <include refid="entityColumnList"/>
        FROM
            "$!{db.dbprefix}${table.tableName}"
        WHERE
            ID_DELETED = 0
    </select>

    <select id="get" resultMap="${table.getFName()}PO">
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED=0
        AND ID = #{request.id}
    </select>
#end

#if($dataBase == 'MYBATIS')
    <select id="find" resultMap="${table.getFName()}PO">
        SELECT * FROM
        (
        SELECT
        <include refid="entityColumnList"/>
        FROM
        "$!{db.dbprefix}${table.tableName}"
        WHERE IS_DELETED = 0
        <include refid="whereForFindList"/>
        ) T
        <if test="request.pageSize!=0">
            LIMIT #{request.beginItemIndex}, #{request.pageSize}
        </if>
    </select>
#end
</mapper>