package ${basePackage}.${moduleName}.response;

import ${basePackage}.${moduleName}.po.${tool.lineToClassName(${table.tableName})}PO;

/**
 * ${tool.lineToClassName(${table.tableName})}GetResponse - ${table.tableComment}
 * @author
 * @Time  ${yyyy-MM-dd}
 */
public class ${tool.lineToClassName(${table.tableName})}GetResponse extends Response {

    /** $!{field.fieldComment} */
    private ${tool.lineToClassName(${table.tableName})}PO ${tool.lineToFieldName(${table.tableName})};

    public ${tool.lineToClassName(${table.tableName})}PO get${tool.lineToClassName(${table.tableName})}PO(){
        return this.${tool.lineToFieldName(${table.tableName})};
    }

    public void set${tool.lineToClassName(${table.tableName})}(${tool.lineToClassName(${table.tableName})}PO ${tool.lineToFieldName(${table.tableName})}){
        this.${tool.lineToFieldName(${table.tableName})} = ${tool.lineToFieldName(${table.tableName})};
    }
}
