package ${basePackage}.framework;

import com.alibaba.citrus.service.pull.ToolFactory;
import javax.servlet.http.HttpServletRequest;

/**
 * BaseUtil - 基本工具
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class BaseUtil implements ToolFactory {

    private static BaseUtil ourInstance = new BaseUtil();

    public static BaseUtil getInstance() {
        return ourInstance;
    }

    private BaseUtil() {
    }

    @Override
    public boolean isSingleton() {
        return true;
    }

    @Override
    public Object createTool() throws Exception {
        return ourInstance;
    }

    public String getTimeMillis(){
        return String.valueOf(System.currentTimeMillis());
    }

    public String getIp(HttpServletRequest request) {
        String ip = request.getHeader("x-forwarded-for");
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getHeader("Proxy-Client-IP");
        }
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getHeader("WL-Proxy-Client-IP");
        }
        if (ip == null || ip.length() == 0 || "unknown".equalsIgnoreCase(ip)) {
            ip = request.getRemoteAddr();
        }
        return ip;
    }
}
