<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 导入jdbc.properties -->
    <bean id="dbPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!-- MyBatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 自动扫描模型对象目录,指定Mapper文件位置 -->
        <property name="mapperLocations" value="classpath:/**/mpr/*.xml"/>
        <property name="configurationProperties">
            <props>
                <prop key="mapUnderscoreToCamelCase">true</prop>
                <prop key="aggressiveLazyLoading">false</prop>
                <prop key="cacheEnabled">true</prop>
                <prop key="useColumnLabel">true</prop>
                <prop key="cacheEnabled">true</prop>
                <prop key="lazyLoadingEnabled">true</prop>
                <prop key="multipleResultSetsEnabled">true</prop>
                <prop key="useColumnLabel">true</prop>
                <prop key="useGeneratedKeys">false</prop>
                <prop key="autoMappingBehavior">PARTIAL</prop>
                <prop key="defaultExecutorType">SIMPLE</prop>
                <prop key="defaultStatementTimeout">25000</prop>
                <prop key="safeRowBoundsEnabled">false</prop>
                <prop key="mapUnderscoreToCamelCase">true</prop>
                <prop key="localCacheScope">SESSION</prop>
                <prop key="jdbcTypeForNull">OTHER</prop>
                <prop key="lazyLoadTriggerMethods">equals,clone,hashCode,toString</prop>
            </props>
        </property>
    </bean>

    <!-- 扫描basePackage下所有以@MyBatisRepository标识的 接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="${basePackage}.*.mpr"/>
    </bean>

    <!-- DBCP连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="defaultAutoCommit" value="false"/>
        <property name="filters" value="config"/>
        <property name="connectionProperties" value="config.decrypt=false"/>
    </bean>

</beans>