package ${basePackage}.framework;

import java.util.List;

/**
 * BaseFindResponse - 基类
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class BaseFindResponse<T> extends BaseGetAllResponse<T>{
}
