package ${basePackage}.framework;

import java.util.List;
import java.util.ArrayList;

/**
 * BaseSearchResponse - 基类
 *
 * @author wangbing
 * @Time 2017-01-01
 * @version 0.0.1
 */
public class BaseSearchResponse<T>  extends BaseGetAllResponse<T> {
    private List<Error> errors = new ArrayList();

    public void addError(Error error){
        errors.add(error);
    }

    public void addError(ErrorType type,String message){
        errors.add(new Error(type,message));
    }

    public void addErrors(List<Error> errors){
        errors.addAll(errors);
    }

    public boolean hasError(){
        return errors.size() > 0;
    }

    /**
     * 获取全部的错误信息，返回的是副本
     */
    public List<Error> getErrors() {
        return new ArrayList<Error>(errors);
    }
}
