<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<script src="/static/scripts/libs/angular.js"></script>
<script src="/static/scripts/libs/angular-locale_zh-cn.js"></script>
<script src="/static/scripts/libs/jquery-3.2.1.js"></script>
<script src="/static/scripts/libs/tools.js"></script>
<script src="/static/scripts/libs/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="/static/scripts/home.js"></script>
<script src="/static/scripts/home-filter.js"></script>
<script src="/static/scripts/home-services.js"></script>
<script src="/static/scripts/ctrls/demoCtrl.js"></script>
<script src="/static/scripts/ctrls/mainCtrl.js"></script>
<script src="/static/scripts/ctrls/reportCtrl.js"></script>
<script>
    angular.element(document).ready(function() {
        angular.bootstrap(document, ['home']);
    });
</script>
