package ${basePackage}.${moduleName}.req;

import ${basePackage}.framework.base.BaseRequest;
#if ($table.has('Date'))
import java.util.Date;
#end
import javax.validation.constraints.NotNull;
import org.hibernate.validator.constraints.Length;

/**
 * ${table.tableName}CreateRequest - ${table.tableComment}
 *
 * @author ${author}
 * @version 0.0.1
 * @since ${yyyy-MM-dd}
 */
public class ${table.getCName()}CreateRequest extends BaseRequest{

#foreach($field in $table.fields)
#if(!$field.isSystem)
    /** $!{field.fieldComment} */
#if($field.isMust)
    @NotNull(message = "$!{field.fieldComment}不能为空")
#end
#if($field.fieldType.toString().contains("String"))
    @Length(min = 0, max = $field.fieldLenght, message = "$!{field.fieldComment}长度不合法")
#end
    private $field.fieldType.javaType() ${field.getFName()};

#end
#end
#foreach($field in $table.fields)
#if(!$field.isSystem)
    public $field.fieldType.javaType() ${field.getterName()}(){
        return this.${field.getFName()};
    }

    public void ${field.setterName()}($field.fieldType.javaType() ${field.getFName()}){
        this.${field.getFName()} = ${field.getFName()};
    }

#end
#end
}
