/**
 * Created by ${author} on ${yyyy-MM-dd}.
 */
=%=(function(){
    =%=.services = {};
    =%=.url = "/ajax";
    =%=.extend(=%=.services,{
        example:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.example",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
#foreach($table in $db.tables)
        create${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.create",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
        delete${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.delete",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
        update${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.update",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
        find${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.find",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
        get${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.get",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
        getAll${table.getCName()}:function(data){
            return =%=.ajax({
                type: 'POST',
                url: =%=.url+"?method=ajax.${moduleName}.${table.getLName()}.get.all",
                data: JSON.stringify(data),
                contentType:"text/plain",
                dataType: "json"
            })
        },
#end
    })
})