/**
 * 通用消息提示框
 */
window.toast = {
    w: function (msg, timer, f) {
        if (msg) {
            $(".wb-toast").remove();
            $("body").prepend(this.w_template);
            $(".wb-toast .wb-msg").html(msg);
            $(".wb-toast").slideDown(200);
            $(".wb-toast .wb-del").on("click", function () {
                $(".wb-toast").slideUp(200, function () {
                    $(".wb-toast").remove();
                });
                if (typeof f == 'function') {
                    f();
                }
            })
            if (Number(timer)) {//如果存在延时参数
                var t = Number(timer);
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, t);
            } else {//如果不存在延时参数，则默认3000毫秒后消失
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, 3000);
            }
        }
    },
    i: function (msg, timer, f) {
        if (msg) {
            $(".wb-toast").remove();
            $("body").prepend(this.i_template);
            $(".wb-toast .wb-msg").html(msg);
            $(".wb-toast").slideDown(200);
            $(".wb-toast .wb-del").on("click", function () {
                $(".wb-toast").slideUp(200, function () {
                    $(".wb-toast").remove();
                });
                if (typeof f == 'function') {
                    f();
                }
            })
            if (Number(timer)) {//如果存在延时参数
                var t = Number(timer);
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, t);
            } else {//如果不存在延时参数，则默认3000毫秒后消失
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, 3000);
            }
        }
    },
    e: function (msg, timer, f) {
        if (msg) {
            $(".wb-toast").remove();
            $("body").prepend(this.e_template);
            $(".wb-toast .wb-msg").html(msg);
            $(".wb-toast").slideDown(200);
            $(".wb-toast .wb-del").on("click", function () {
                $(".wb-toast").slideUp(200, function () {
                    $(".wb-toast").remove();
                });
                if (typeof f == 'function') {
                    f();
                }
            })
            if (Number(timer)) {//如果存在延时参数
                var t = Number(timer);
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, t);
            } else {//如果不存在延时参数，则默认3000毫秒后消失
                setTimeout(function () {
                    $(".wb-toast").slideUp(200, function () {
                        $(".wb-toast").remove();
                    });
                    if (typeof f == 'function') {
                        f();
                    }
                }, 3000);
            }
        }
    },
    popup: function (tit, msg, callback) {
        $(".wb-popup").remove();
        $("body").prepend(this.popup_template);
        var margin = $('body').outerWidth(true) - $('body').outerWidth();
        if (margin > 0) {//解决body存在margin时,留白条问题
            $(".wb-popup").css("margin", "-" + margin / 2 + "px");
        }
        $(".wb-popup .wb-tit .tit").text(tit);
        $(".wb-popup .wb-msg").text(msg);
        $(".wb-popup").fadeIn();

        $(".wb-popup .positive").on("click", function () {
            $(".wb-popup").fadeOut(function () {
                $(".wb-popup").remove();
            });
            if (typeof callback == 'function') {
                callback();
            }
        });
        $(".wb-popup .negative").on("click", function () {
            $(".wb-popup").fadeOut(function () {
                $(".wb-popup").remove();
            });
        });
        $(".wb-popup .wb-content").on("click", function (e) {
            e.stopPropagation();
        })
        $(".wb-popup").on("click", function (e) {
            $(".wb-popup").fadeOut(function () {
                $(".wb-popup").remove();
            });
        })
    },
    i_template: '<div class="wb-toast" style="height: 35px;line-height: 35px;text-align: center;position: fixed;width: 100%;top: 0px;display: none;z-index:99999;">'
    + '<style type="text/css">'
    + '.wb-toast-content{height: 100%;position:relative;display: inline-block;min-width: 400px;background-color: #eeeeee;box-shadow: 0px 0px 5px rgba(0,0,0,0.4);border-radius: 3px;}'
    + '.wb-toast-content .wb-tit{position: absolute;left: 0px;color: #535353;border-right: 1px solid #d6d6d6;text-align: center;width: 45px;}'
    + '.wb-toast-content .wb-msg{overflow: hidden;text-overflow: ellipsis;color: #535353;display: inline-block;width: 300px;white-space: nowrap;margin-left: 15px;}'
    + '.wb-toast-content .wb-del{position: absolute;right: 0px;color:#535353;font-size: smaller;text-decoration: none;width: 30px;}'
    + '.wb-toast-content a.wb-del:hover{color: #c8c8c8;}'
    + '</style>'
    + '<div class="wb-toast-content" style="">'
    + '<a class="wb-tit">信息</a>'
    + '<a class="wb-msg"></a>'
    + '<a class="wb-del" href="javascript:;">x</a>'
    + '</div>'
    + '</div>',
    w_template: '<div class="wb-toast" style="height: 35px;line-height: 35px;text-align: center;position: fixed;width: 100%;top: 0px;display: none;z-index:99999;">'
    + '<style type="text/css">'
    + '.wb-toast-content{height: 100%;position:relative;display: inline-block;min-width: 400px;background-color: #eeeeee;box-shadow: 0px 0px 5px rgba(0,0,0,0.4);border-radius: 3px;}'
    + '.wb-toast-content .wb-tit{position: absolute;left: 0px;color: #535353;border-right: 1px solid #d6d6d6;text-align: center;width: 45px;}'
    + '.wb-toast-content .wb-msg{overflow: hidden;text-overflow: ellipsis;color: #535353;display: inline-block;width: 300px;white-space: nowrap;margin-left: 15px;}'
    + '.wb-toast-content .wb-del{position: absolute;right: 0px;color:#535353;font-size: smaller;text-decoration: none;width: 30px;}'
    + '.wb-toast-content a.wb-del:hover{color: #c8c8c8;}'
    + '</style>'
    + '<div class="wb-toast-content" style="">'
    + '<a class="wb-tit">警告</a>'
    + '<a class="wb-msg"></a>'
    + '<a class="wb-del" href="javascript:;">x</a>'
    + '</div>'
    + '</div>',
    e_template: '<div class="wb-toast" style="height: 35px;line-height: 35px;text-align: center;position: fixed;width: 100%;top: 0px;display: none;z-index:99999;">'
    + '<style type="text/css">'
    + '.wb-toast-content{height: 100%;position:relative;display: inline-block;min-width: 400px;background-color: #eeeeee;box-shadow: 0px 0px 5px rgba(0,0,0,0.4);border-radius: 3px;}'
    + '.wb-toast-content .wb-tit{position: absolute;left: 0px;color: #535353;border-right: 1px solid #d6d6d6;text-align: center;width: 45px;}'
    + '.wb-toast-content .wb-msg{overflow: hidden;text-overflow: ellipsis;color: #535353;display: inline-block;width: 300px;white-space: nowrap;margin-left: 15px;}'
    + '.wb-toast-content .wb-del{position: absolute;right: 0px;color:#535353;font-size: smaller;text-decoration: none;width: 30px;}'
    + '.wb-toast-content a.wb-del:hover{color: #c8c8c8;}'
    + '</style>'
    + '<div class="wb-toast-content" style="">'
    + '<a class="wb-tit">错误</a>'
    + '<a class="wb-msg"></a>'
    + '<a class="wb-del" href="javascript:;">x</a>'
    + '</div>'
    + '</div>',
    popup_template: '<div class="wb-popup" style="background-color: rgba(54, 54, 54, 0.4);width: 100%;height: 100%;position: fixed;display: none">'
    + '<style type="text/css">'
    + '.wb-popup .wb-content-t{display: table;width: 100%;height: 100%;}'
    + '.wb-popup .wb-content-b{display: table-cell;vertical-align: middle;text-align: center;}'
    + '.wb-popup .wb-content{background-color: #ffffff;width: 400px;height: 150px;display: inline-block}'
    + '.wb-popup .wb-tit{height: 34px;line-height: 34px;border-bottom: 1px solid #cccccc;font-size:16px;font-weight: bold;text-align: left;padding:0px 10px;overflow: hidden}'
    + '.wb-popup .wb-tit .negative{color: #cccccc;float: right;font-weight: normal;text-decoration: none;}'
    + '.wb-popup .wb-msg{height: 60px;width: 380px;margin: 10px;font-size:14px;overflow: hidden;text-overflow: ellipsis;text-align: left;word-break: break-all;}'
    + '.wb-popup .wb-ctl{height: 35px;width: 100%;padding-top: 3px;overflow: hidden;text-align: right}'
    + '.wb-popup .wb-ctl a{display:inline-block;height: 24px;line-height: 24px;font-size:16px;width: 50px;margin-right: 20px;text-align: center;text-decoration: none;color: #000000}'
    + '.wb-popup .wb-ctl a:hover{opacity: 0.8;}'
    + '.wb-popup .wb-ctl .positive{background-color: #4da1fc;border:1px solid #4da1fc;color: #ffffff;}'
    + '.wb-popup .wb-ctl .negative{background-color: #ffffff;border:1px solid #b6b6b6 }'
    + '</style>'
    + '<div class="wb-content-t">'
    + '<div class="wb-content-b">'
    + '<div class="wb-content">'
    + '<div class="wb-tit"><span class="tit"></span><a href="javascript:;" class="negative">x</a></div>'
    + '<div class="wb-msg"></div>'
    + '<div class="wb-ctl"><a class="positive" href="javascript:;">确认</a><a class="negative" href="javascript:;">取消</a></div>'
    + '</div>'
    + '</div>'
    + '</div>'
    + '</div>'
};
/**
 * 获取url参数
 * @param key
 */
window.location.getParam = function (key) {
    var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) {
        return decodeURIComponent(r[2]);
    }
    return null;
}
/**
 * 日期格式化
 */
Date.prototype.format = function (format) {
    var o = {
        "M+": this.getMonth() + 1, //month
        "d+": this.getDate(),    //day
        "h+": this.getHours(),   //hour
        "m+": this.getMinutes(), //minute
        "s+": this.getSeconds(), //second
        "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
        "S": this.getMilliseconds() //millisecond
    }
    if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
        (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)if (new RegExp("(" + k + ")").test(format))
        format = format.replace(RegExp.$1,
            RegExp.$1.length == 1 ? o[k] :
                ("00" + o[k]).substr(("" + o[k]).length));
    return format;
};
/**
 * 数组移除
 */
Array.prototype.remove = function (val) {
    var index = this.indexOf(val);
    if (index > -1) {
        this.splice(index, 1);
    }
};
/**
 * 数组替换
 */
Array.prototype.replace = function (val, obj) {
    var index = this.indexOf(val);
    if (index > -1) {
        this.splice(index, 1, obj);
    }
};
/**
 * 数组位置调整
 */
Array.prototype.exchange = function (val1, val2) {
    if (val1 < 0 || val2 < 0 || val2 >= this.length || val1 >= this.length) {
        return;
    }
    var o1 = this[val1];
    var o2 = this[val2];
    this.splice(val1, 1, o2);
    this.splice(val2, 1, o1);
};