package ${basePackage}.api.module.screen;

import com.alibaba.citrus.service.requestcontext.buffered.BufferedRequestContext;
import com.alibaba.citrus.turbine.dataresolver.Param;
import com.alibaba.fastjson.JSON;
import com.alibaba.fastjson.JSONObject;
import org.springframework.beans.factory.annotation.Autowired;
import javax.servlet.http.Cookie;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.io.BufferedReader;
import java.io.InputStreamReader;
import java.io.PrintWriter;
import java.util.*;
import ${basePackage}.${moduleName}.base.LocalData;
import ${basePackage}.${moduleName}.base.Token;
import ${basePackage}.${moduleName}.base.Response;
import ${basePackage}.${moduleName}.base.Message;
import ${basePackage}.${moduleName}.base.ErrorType;
import ${basePackage}.${moduleName}.base.LogUtil;
import ${basePackage}.${moduleName}.request.*;
import ${basePackage}.${moduleName}.response.*;
import ${basePackage}.${moduleName}.business.*;

/**
 * Ajax接口类
 *
 * @author
 * @date ${yyyy-MM-dd}
 */
public class Api {

    @Autowired
    private HttpServletResponse response;

    @Autowired
    private BufferedRequestContext brc;

    @Autowired
    private HttpServletRequest request;

#foreach($table in $db.tables)
    @Autowired
    ${table.getCName()}Manager ${table.getFName()}Manager;
#end

    public void execute(@Param("method") String method) throws Exception {
        Response baseResponse = new Response();
        String line = null;
        try {
            // 必须关闭buffering，未完成的页面才会被显示在浏览器上。
            brc.setBuffering(false);
            // 设置content type，但不需要设置charset，框架会设置正确的charset。
            response.setContentType("text/plain");
            method = method.toLowerCase();
            Token token = LocalData.getToken();
            InputStreamReader isr = new InputStreamReader(request.getInputStream());
            BufferedReader in = new BufferedReader(isr);
            line = in.readLine();
            JSONObject jsonObject = JSON.parseObject(line);

            switch (method) {
#foreach($table in $db.tables)
                // 创建${table.tableComment}
                case "api.${moduleName}.${table.getLName()}.create":
                    baseResponse = create${table.getCName()}(jsonObject, token);
                    break;
                // 删除${table.tableComment}
                case "api.${moduleName}.${table.getLName()}.delete":
                    baseResponse = delete${table.getCName()}(jsonObject, token);
                    break;
                // 修改${table.tableComment}
                case "api.${moduleName}.${table.getLName()}.update":
                    baseResponse = update${table.getCName()}(jsonObject, token);
                    break;
                // 查询${table.tableComment}
                case "api.${moduleName}.${table.getLName()}.find":
                    baseResponse = find${table.getCName()}(jsonObject, token);
                    break;
                // 查询所有${table.tableComment}
                case "api.${moduleName}.${table.getLName()}.findall":
                    baseResponse = findAll${table.getCName()}(jsonObject, token);
                    break;
#end
                default:
                    baseResponse.addError(ErrorType.INVALID_PARAMETER, Message.NOT_EXIST_METHOD);
                    break;

                // endregion
            }
        } catch (Exception ex) {
            baseResponse.addError(ErrorType.SYSTEM_ERROR, Message.ERROR_500);
            LogUtil.dumpException(ex);
        } finally {
            if(baseResponse.hasError()) {
                LogUtil.w("请求方法" + method + ", 请求参数：" + line);
                LogUtil.w("返回结果包含异常" + JSON.toJSONString(baseResponse.getErrors()));
            }
            String jsonTenant = JSON.toJSONString(baseResponse);
            PrintWriter out = response.getWriter();
            out.println(jsonTenant);
        }
    }

#foreach($table in $db.tables)
    /**
     * 创建${table.tableComment}
     */
    private Response create${table.getCName()}(JSONObject jsonObject, Token token) {
        ${table.getCName()}CreateRequest request = JSON.toJavaObject(jsonObject, ${table.getCName()}CreateRequest.class);
        return ${table.getFName()}Manager.create(request, token);
    }

    /**
     * 删除${table.tableComment}
     */
    private Response delete${table.getCName()}(JSONObject jsonObject, Token token) {
        ${table.getCName()}DeleteRequest request = JSON.toJavaObject(jsonObject, ${table.getCName()}DeleteRequest.class);
        return ${table.getFName()}Manager.delete(request, token);
    }

    /**
     * 修改${table.tableComment}
     */
    private Response update${table.getCName()}(JSONObject jsonObject, Token token) {
        ${table.getCName()}UpdateRequest request = JSON.toJavaObject(jsonObject, ${table.getCName()}UpdateRequest.class);
        return ${table.getFName()}Manager.update(request, token);
    }

    /**
     * 查询${table.tableComment}
     */
    private Response find${table.getCName()}(JSONObject jsonObject, Token token) {
        ${table.getCName()}FindRequest request = JSON.toJavaObject(jsonObject, ${table.getCName()}FindRequest.class);
        return ${table.getFName()}Manager.find(request, token);
    }

    /**
     * 查询所有${table.tableComment}
     */
    private Response findAll${table.getCName()}(JSONObject jsonObject, Token token) {
        ${table.getCName()}FindAllRequest request = JSON.toJavaObject(jsonObject, ${table.getCName()}FindAllRequest.class);
        return ${table.getFName()}Manager.findAll(request, token);
    }

#end
}