package ${basePackage}.home.module.action;

import com.alibaba.citrus.turbine.Navigator;
import com.alibaba.citrus.turbine.dataresolver.FormGroup;
import ${basePackage}.home.module.Visitor;

public class RegisterAction {
    public void doRegister(@FormGroup("register") Visitor visitor, Navigator nav) {
        String name = visitor.getName();

        nav.redirectTo("app1Link").withTarget("form/welcome").withParameter("name", name);
    }
}
