package ${basePackage}.${moduleName}.req;

import ${basePackage}.framework.base.BaseSearchRequest;
#if ($table.has('Date'))
import java.util.Date;
#end

/**
 * ${table.getCName()}Request -  ${table.tableComment}
 *
 * @author ${author}
 * @Time ${yyyy-MM-dd}
 * @version 0.0.1
 */
public class  ${table.getCName()}SearchRequest extends BaseSearchRequest{
}
